{% extends '../base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h1>{{__('order info')}}</h1> 
<table class="table table-hover">
  <tr>
    <th>{{__('order id')}}</th>
    <th>{{__('product')}}</th>
    <th>{{__('create time')}}</th>
    <th>{{__('user endtime')}}</th>
    <th>{{__('status')}}</th>
    <th>{{__('operation')}}</th>
  </tr>
  {% for e in result.rows %}
  <tr>
    <td>{{e.id}}</td>
    <td>
    <h3>{{e.name}}</h3>
    <p>{{e.sub_name}}</p>
    </td>
    <td>
    {{e.create_time|formatdate("YYYY-MM-DD HH:mm:ss")}}</td>
    <td>{{e.end_time|formatdate("YYYY-MM-DD HH:mm:ss")}}</td>
    <td>
    {% if e.status==0 %}
      待付款
    {% endif %}
    {% if e.status==1 %}
      {{__('pay success')}}
    {% endif %}
    {% if e.status==-1 %}
      {{__('cancel')}}
    {% endif %}
    </td>
    <td>
    {% if e.status==0 %}
      <a href="/pay/payment?ord_id={{e.id}}">去付款</a>
    {% endif %}
    </td>
  </tr>
   {% else %}
   <tr><td colspan="6" class="text-center">{{__('data empty')}}</td></tr>
   {% endfor %}
</table>


<nav aria-label="Page navigation">
  <ul class="pagination">
  {{page}}
</ul>
</nav>
{% endblock %}

{% block foot %}
<script>

</script>  
{% endblock %}
