{% extends '../base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h2>支付结果</h2>

<h1>恭喜您，购买会员成功</h1>
<p>您的会员服务时间到期日为：2018-11-15 23:55:00</p>
<a href="/">去首页逛逛</a>
{% endblock %}

{% block foot %}
<script>
// $("form").on('submit',function(e){

//     var fd=new FormData(this);
//     var method=fd.get('id')?"PUT":"POST";
//     console.log(fd.get('id'));
//     $.ajax({
//         type: method,
//         url: "/api/company",
//         data:{id:fd.get('id'),
// 	        name:fd.get('name'),
// 	        ename:fd.get('ename'),
// 	        phone:fd.get('phone'),
// 	        address:fd.get('address'),
// 	        email:fd.get('email'),
// 	        custom_service:fd.get('custom_service'),
// 	        content:fd.get('content'),
// 	        legal_person:fd.get('legal_person'),
// 	        create_time:fd.get('create_time')
//     	},
//         dataType:"json",
//         success:function(json){
//             if(json.code=='success'){
//             	$("input[name=id]").val(json.id);
//             	alert("保存成功");
//             }else{
//             	// location.reload();
//             }
//         }
//     });

//     return false;
// });
</script>  
{% endblock %}