{% extends './toolbar_index.html' %}



{% block head %}
<style>
    .content{
        padding: 50px;
    }
</style>
{% endblock %}

{% block left %}

{% endblock %}

{% block main %}
<div class="container content yahei">
    <h3 class="text-center">
        {% if user.status==0 %}
         {{__('only show vip')}}
         {% else %}
         {{__('can not visit the module')}}
         {% endif %}
    </h3>
 <div class="bk20"></div>
 {% if user.status==0 %}
 <p class="text-center loginEmail"><a href="/user/buy">{{__('To Be VIP')}}</a></p>
 {% endif %}
</div>
</div>
{% endblock %}

{% block foot %}

{% endblock %}