<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>会员中心-{{__('website')}}</title>

    <!-- Bootstrap -->
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/css/web.css?v={{js_version}}" rel="stylesheet">
    {% block head %} {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
 <!-- Static navbar -->
<div class="page-wrap yahei">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="logo"><a href="/user/center" class="logoM">
        <img src="/images/logoM.png" /></a>
        <span class="logotext">{{__('user center')}}</span></div>
    </div>
    <div id="navbar" class="navbar-collapse collapse change">
        <ul class="nav navbar-nav">
            <li><a href="#" class="lang" lang="zh-CN">中文</a><a href="#" class="lang change" lang="en">/ EN</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right ">
         <li><a href="/" >{{__('index')}}</a></li>
        <li style="line-height: 53px;padding: 10px 2px;">{{__('hot line')}}</li>
        <li><a href="#">{{sessionuser.email}}</a></li>
        {% if  sessionuser  %}
        <li><a href="#" class="loginout">{{__('sign out')}}</a></li>
        {% endif %}
        {% if  not sessionuser  %}
        <li><a href="/login/login">{{__('sign in')}}</a></li>
        {% endif %}

        {% if  sessionuser.role==9 or sessionuser.role==8  %}
        <li><a href="/manage/users" >{{__('admin manager')}}</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="bk30"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
        
      <div class="list-group">
        
          <div class="list-group-item">
            <h3>{% if  sessionuser.type=="design"  %}
              {{__('profile management')}}
            {% else %}
              {{__('company manage')}}
            {% endif%}
            </h3>
          </div>
          {% if  sessionuser.type=="factory"  %}
          <a href="/factory" class="list-group-item">{{__('base info')}}</a>
          <a href="/environment" class="list-group-item">{{__('environment')}}</a>
          <a href="/cooperation" class="list-group-item">{{__('cooperation info')}}</a>
          <a href="/product" class="list-group-item">{{__('product info')}}</a>
          <!--<a href="#" class="list-group-item">公司动态</a>
          <a href="#" class="list-group-item">资质证书</a>-->
          {% endif %}

          {% if  sessionuser.type=="seller"  %}
          <a href="/seller" class="list-group-item">{{__('base info')}}</a>
          {% endif %}

           {% if  sessionuser.type=="agency"  %}
          <a href="/agency" class="list-group-item">{{__('base info')}}</a>
          {% endif %}
           {% if  sessionuser.type=="design"  %}
          <a href="/design" class="list-group-item">{{__('base info')}}</a>
          <a href="/works" class="list-group-item">{{__('works info')}}</a>
          {% endif %}

          <div class="list-group-item"><h3>{{__('message manage')}}</h3></div>
           <a href="/messageGroups" class="list-group-item"> <span class="badge unread"></span>{{__('all message')}}</a>
          <div class="list-group-item"><h3>{{__('user management')}}</h3></div>
          <a href="/user/buy" class="list-group-item">{{__('to be vip')}}</a>
          <a href="/ord" class="list-group-item">{{__('buy record')}}</a>
      </div>
      
    </div>
    <div class="col-xs-12 col-md-9" >
        {% block main %} {% endblock %}
    </div>
  </div>
</div>
</div>
    <footer class="footer">
        <div class="container">
            <div class="Blogo"><a href="/"><img src="/images/logoB.png"></a></div>
            <ul class="Bnav">
                <li {% if  nav=="index"  %}class="active"{% endif %}><a href="/">{{__('index')}}</a></li>
                <li {% if  nav=="sellers"  %}class="active"{% endif %}><a href="/sellers">{{__('seller')}}</a></li>
                <li {% if  nav=="agencys"  %}class="active"{% endif %}><a href="/agencys">{{__('agency')}}</a></li>
                {% if  sessionuser or sessionuser.type!='factory' %}
                <li {% if  nav=="factorys"  %}class="active"{% endif %}><a href="/factorys">{{__('factory')}}</a></li>
                {% endif %}
                <li {% if  nav=="designs"  %}class="active"{% endif %}><a href="/designs">{{__('design')}}</a></li>
                <li {% if  nav=="contact"  %}class="active"{% endif %}><a href="/contact">{{__('contact')}}</a></li>
            </ul>
            <p class="Btext">Copyright © 2017 Acclist鲁ICP备17038222号-1</p>
        </div>
    </footer>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.cookie.min.js"></script>

<script src="/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/js/common.js?v={{js_version}}"></script>
<script type="text/javascript">
  $(".lang").click(function(){
    var lang=$(this).attr("lang")||en;
    $.cookie('locale', lang, { expires: 7 }); 
    location.reload();
  });
  // 
  if($(".unread").length){
     $.ajax({
        type: "GET",
        url: "/api/messageGroup",
        dataType:"json",
        success:function(json){
            if(json.code="success"){
               if(typeof messageCount =="function"){
                 messageCount(json.count);
               }
                $(".unread").text(json.count);
            }
        }
    });
  }
 
  $(".loginout").click(function(){
     $.ajax({
        type: "DELETE",
        url: "/login/login",
        dataType:"json",
        success:function(json){
            if(json.code="success"){
                location.reload();
            }
        }
    });
  });
</script>
{% block foot %} {% endblock %}
</body>
</html>
