<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{__('website')}}</title>

    <!-- Bootstrap -->
    
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/web.css" rel="stylesheet">
    {% block head %} {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
 <!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{__('website')}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/user/center">user center</a></li>
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="#">{{__('hot line')}}</a></li>
        {% if  sessionuser.role==9  %}
        <li><a href="/manage/users" class="lang" lang="zh-CN">后台管理</a></li>
        {% endif %}
        <li><a href="#" class="lang" lang="zh-CN">中文</a></li>
        <li><a href="#" class="lang" lang="en">EN</a></li>
        <li><a href="#">{{sessionuser.email}}</a></li>
        {% if  sessionuser  %}
        <li><a href="#" class="loginout">{{__('sign out')}}</a></li>
        {% endif %}
        {% if  not sessionuser  %}
        <li><a href="/login/login">{{__('sign in')}}</a></li>
        {% endif %}
        
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
        
      <div class="list-group">
          <a href="#" class="list-group-item"><h3>{{__('company manage')}}</h3></a>
          {% if  sessionuser.type=="factory"  %}
          <a href="/factory" class="list-group-item">{{__('base info')}}</a>
          <a href="/cooperation" class="list-group-item">{{__('cooperation info')}}</a>
          <a href="/product" class="list-group-item">{{__('product info')}}</a>
          <a href="#" class="list-group-item">公司动态</a>
          <a href="#" class="list-group-item">资质证书</a>
          {% endif %}

          {% if  sessionuser.type=="seller"  %}
          <a href="/seller" class="list-group-item">{{__('base info')}}</a>
          {% endif %}

           {% if  sessionuser.type=="agency"  %}
          <a href="/agency" class="list-group-item">{{__('base info')}}</a>
          {% endif %}
           {% if  sessionuser.type=="design"  %}
          <a href="/design" class="list-group-item">{{__('base info')}}</a>
          <a href="/works" class="list-group-item">{{__('works info')}}</a>
          {% endif %}

          <a href="#" class="list-group-item"><h3>{{__('message manage')}}</h3></a>
           <a href="/messageGroups" class="list-group-item"> <span class="badge unread"></span>{{__('all message')}}</a>
          <a href="#" class="list-group-item"><h3>{{__('user message')}}</h3></a>
          <a href="/user/buy" class="list-group-item">{{__('to be vip')}}</a>
          <a href="/ord" class="list-group-item">{{__('buy record')}}</a>
      </div>
      
    </div>
    <div class="col-xs-12 col-md-9" >
        {% block main %} {% endblock %}
    </div>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript">
  $(".lang").click(function(){
    var lang=$(this).attr("lang")||en;
    $.cookie('locale', lang, { expires: 7 }); 
    location.reload();
  });
  // 
  if($(".unread").length){
     $.ajax({
        type: "GET",
        url: "/api/messageGroup",
        dataType:"json",
        success:function(json){
            if(json.code="success"){
                $(".unread").text(json.count);
            }
        }
    });
  }
 
  $(".loginout").click(function(){
     $.ajax({
        type: "DELETE",
        url: "/login/login",
        dataType:"json",
        success:function(json){
            if(json.code="success"){
                location.reload();
            }
        }
    });
  });
</script>
{% block foot %} {% endblock %}
</body>
</html>
