{% extends './toolbar_index.html' %}

{% block head %}
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
body{
    background: #eee;
}

h2{
    margin-top: 30px;
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 90px;
    color: #999;
}
.col-md-4{
    text-align: center;
}
.img-circle{
    background: #999;
    width: 200px;
    display: inline-block;
    height: 200px;
    font-size: 110px;
    line-height: 200px;
}
i{
    color: #FFF;
}
.row:last-child{
    margin-top: 30px;
}
</style>
{% endblock %}

{% block main %}
<div class="jumbotron masthead">
    <div class="container">
        <h2 class="text-center">About Us | 关于我们</h2>
        <div class="bk20"></div>
        <div class="about-text">
            <p>我们是一支有着服务美国中间商10年经验的优秀团队。我们可以为您提供一下服务</p>
            <p>1 验货服务</p>
            <p>2 采购材料零部件服务</p>
            <p>3 实时跟踪订单状况，包括app, top, testing, packing.</p>
            <p>4 实时跟踪开发状况</p>
            <p>5 协助工厂解决问题 </p>
        </div>
        <div class="bk20"></div>
        <h2 class="text-center">Contact | 联系我们</h2>
        <div class="bk20"></div>
        <div class="row">
          <div class="col-xs-4 col-md-4">
                
                <span class="img-circle">
                    <i class="fa fa-envelope" aria-hidden="true"></i>     
                </span>
          </div>
          <div class="col-xs-4 col-md-4">
                <span class="img-circle">
                    <i class="fa fa-qq" aria-hidden="true"></i>     
                </span>
          </div>
          <div class="col-xs-4 col-md-4">
           <span class="img-circle">
                    <span class="fa-dh"></span>
                </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4">
                <p>Email|邮箱</p>
                <p>jamealee@126.com</p>
          </div>
          <div class="col-xs-4 col-md-4">
                <p class="text-center">QQ</p>
                <p class="text-center">22949974</p>
          </div>
          <div class="col-xs-4 col-md-4" >
            <p class="text-center">Phone</p>
            <p class="text-center">15866860015</p>
          </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block foot %}
<script></script>  
{% endblock %}