{% extends './toolbar_index.html' %}

{% block head %}
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
body{
    background: #fff;
}

h2{
    margin-top: 30px;
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 90px;
    color: #999;
}
.col-md-4{
    text-align: center;
}
.img-circle{
    background: #999;
    width: 200px;
    display: inline-block;
    height: 200px;
    font-size: 110px;
    line-height: 200px;
}
i{
    color: #FFF;
}
.row:last-child{
    margin-top: 30px;
}
</style>
{% endblock %}

{% block main %}
<div class="jumbotron masthead">
    <div class="container">
        <h2 class="text-center">About Us | 关于我们</h2>
        <div class="bk20"></div>
        <div class="about-text">
            <p>{{__('contact h1')}}</p>
            <p>{{__('contact p1')}}</p>
            <p>{{__('contact p2')}}</p>
        </div>
        <div class="bk20"></div>
        <h2 class="text-center">Contact Us | 联系我们</h2>
        <div class="bk20"></div>
        <div class="row">
          <div class="col-xs-4 col-md-4">
                
                <span class="img-circle">
                    <i class="fa fa-envelope" aria-hidden="true"></i>     
                </span>
          </div>
          <div class="col-xs-4 col-md-4">
                <span class="img-circle">
                   <span class="fa-dz"></span>
                </span>
          </div>
          <div class="col-xs-4 col-md-4">
           <span class="img-circle">
                    <span class="fa-dh"></span>
                </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4">
                <p>info@acclist.com</p>
          </div>
          <div class="col-xs-4 col-md-4">
                <p class="text-center">{{__('contact p3')}}</p>
          </div>
          <div class="col-xs-4 col-md-4" >
            <p class="text-center">+86-532-66736655</p>
          </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block foot %}
<script></script>  
{% endblock %}