{% extends './toolbar_index.html' %}

{% block head %}
<style type="text/css">
footer{
    height: 50px;
    background: #333;
}
</style>
{% endblock %}

{% block main %}

<div class="jumbotron masthead">
    <div class="container">
    <!-- <div class="bg"> -->

        <h2 class="text-center">全球饰品信息网：搭起饰品供求信息的桥梁</h2>
        <p>我们的团队致力于建立一个公平公开的信息平台，用专业的服务连接起零售商，中间商，供应商以及优秀的饰品设计师。</p>
        <div class="loginnow"><a href="/login/login">立即体验</a></div>
        <div class="indexbg"></div>
        <div class="book"><img src="/images/book.png" alt=""/></div>
    <!-- </div> -->
    </div>
</div>
<div class="newsbg">
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <img src="/images/newpic.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h4 class="title"><span></span>{{__('index articles')}}<i></i></h4>
            <ul class="list-news">
               {% for e in articles  %}
               <li>
                   <a href="/article/{{e.id}}">{{e.title}}</a>
                   </li>
                {% endfor %}
            </ul>
            <p class="text-right"><a href="/articles">更多</a></p>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block foot %}
<script></script>  
{% endblock %}