{% extends './toolbar_index.html' %}

{% block head %}
<style type="text/css">
footer{
    height: 50px;
    background: #333;
}
</style>
{% endblock %}

{% block main %}

<link rel="stylesheet" type="text/css" href="/css/jdstyles.css">
<script src="/js/jquery.1.9.1.js"></script>
<script type="text/javascript" src="js/yxmobileslider.js"></script>
<div class="slider">
    <ul>
        {% for e in imgs %}
        <li><a href="" target="_blank"><img src="{{img_domain}}{{e.img}}" alt=""></a></li>    
        {% endfor %}
    </ul>
</div>
<script>
    $(".slider").yxMobileSlider({width:1440,height:328,during:3000})
</script>
<div class="jumbotron masthead">
    <div class="container indexbg">
        <div class="indexC">
            <!--<h4 class="title"><span></span>{{__('index articles')}}<i></i></h4>-->
            <ul class="list-news">
                {% for e in articles  %}
                <li>
                    <a href="/article/{{e.id}}">{{e.title}}</a>
                </li>
                {% endfor %}
            </ul>
            <p style="text-align: right;"><a href="/articles">{{__('MORE')}}</a></p>
        </div>
    </div>
</div>
<div class="adarea clearfix">
    <ul>
            {% for e in buttomimgs %}
            <li><a href="{{e.url}}"><img src="{{img_domain}}{{e.img}}" alt=""></a></li>    
            {% endfor %}
            
        <!-- <li><a href="http://acclist.com/article/6b5bc28d5c644088954d6b1e115d0f99"><img src="images/111.jpg" alt=""/></a></li>
        <li><a href="http://acclist.com/article/6b5bc28d5c644088954d6b1e115d0f99"><img src="images/112.jpg" alt=""/></a></li>
        <li class="last"><a href="http://acclist.com/article/6b5bc28d5c644088954d6b1e115d0f99"><img src="images/113.jpg" alt=""/></a></li> -->
        <div class="clear"></div>
    </ul>
</div>
</div>
{% endblock %}

{% block foot %}

{% endblock %}