{% extends './toolbar_index.html' %}

{% block head %}
<style type="text/css">
body{
    background: #eee;
}
.bg{
    background: #eee;
    height: 100%;
}
h2{
    margin-top: 30%;
}
footer{
    height: 50px;
    background: #333;
}
</style>
{% endblock %}

{% block main %}
<div class="jumbotron masthead">
    <div class="container">
    <!-- <div class="bg"> -->
        <h2 class="text-center">全球xx信息网：搭起xx供求信息的桥梁</h2>
        <p>我们的辅导团队主要来自于Harvard GSD, Columbia, UPenn, HKU, TUD等学校，拥有丰富的作品集辅导及申请文书辅导经验，在成立的四年时间里，辅导成功案例遍布欧洲，美洲，澳洲，新加坡及香港等地，已帮助学员成功申请到UPenn, Cornell, UCL, TUD, HKU, KTH, RMIT等学校。我们是您值得信赖的专业团队。</p>
    <!-- </div> -->
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-3">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNWY3Mjg4MzNjYSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1ZjcyODgzM2NhIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" alt="">
    </div>
    <div class="col-md-9">
        <h4>{{__('index articles')}}</h4>
        <ul class="list-group">
           {% for e in articles  %}
           <li class="list-group-item">
               <a href="/article/{{e.id}}">{{e.title}}</a>
               </li>
            {% endfor %}
        </ul>
        <p class="text-right"><a href="">更多</a></p>
    </div>
    </div>
</div>


{% endblock %}

{% block foot %}
<script></script>  
{% endblock %}