{% extends './base.html' %}

{% block head %}

{% endblock %}

{% block left %}

{% endblock %}

{% block main %}
<form>
	<input type="text" name="email">
	<input type="text" name="password">
	<input type="submit" value="submit">
</form>
<button>test</button>
{% endblock %}

{% block foot %}
<script type="text/javascript">
$("button").on("click",function(){
	$.ajax({
        type: "POST",
        url: "/login",
        data:{
        	// email:1,
        	// password:1
        },
        dataType:"json",
        success:function(json){
            console.log(json);
        }
    });
})
$("form").on("submit",function(){

	var fd=new FormData(this);
	
	 $.ajax({
        type: "POST",
        url: "/login",
         data:{
        	email:fd.get("email"),
        	password:fd.get("password")
        },
        dataType:"json",
        success:function(json){
            console.log(json);
        }
    });
	return false;
});
</script>  
{% endblock %}


