<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{__('website')}}</title>

    <!-- Bootstrap -->
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/web.css?v={{js_version}}" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      {% block head %} {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<div class="page-wrap yahei">
 <!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#"> -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="logo"><a href="/"><img src="/images/logo.png"></a></div>
      <!-- </a> -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navcon">

        <li {% if  nav=="index"  %}class="active"{% endif %}><a href="/">{{__('index')}}</a></li>
        <li {% if  nav=="sellers"  %}class="active"{% endif %}><a href="/sellers">{{__('seller')}}</a></li>
        <li {% if  nav=="agencys"  %}class="active"{% endif %}><a href="/agencys">{{__('agency')}}</a></li>
        {% if  sessionuser or sessionuser.type!='factory' %}
        <li {% if  nav=="factorys"  %}class="active"{% endif %}><a href="/factorys">{{__('factory')}}</a></li>
        {% endif %}
        <li {% if  nav=="designs"  %}class="active"{% endif %}><a href="/designs">{{__('design')}}</a></li>
        <li {% if  nav=="contact"  %}class="active"{% endif %}><a href="/contact">{{__('ABOUT')}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navinfo">
       
        <li class="search"><a href="/search" ><span></span><!--<p>{{__('search')}}</p>--></a></li>
       
        {% if  sessionuser  %}
        <li><a href="/user/center">{{sessionuser.email}}</a></li>
        <li><a href="#" class="loginout">{{__('Sign Out')}}</a></li>
        {% endif %}
        {% if  not sessionuser  %}
        <li class="login"><a href="/login/login"><span></span><!--<p>{{__('sign in')}}</p>--></a></li>
        <!--<li class="registration"><a href="/login/reg"><span></span><p>{{__('register')}}</p></a></li>-->
        {% endif %}
        <li><a href="#" class="lang" lang="zh-CN">中文</a></li>
         <li style="line-height: 82px;">/</li>
        <li><a href="#" class="lang" lang="en">EN</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

   {% block main %} {% endblock %}

<footer class="footer">
    <div class="container">
    <div class="Blogo"><a href="/"><img src="/images/logoB.png"></a></div>
    <ul class="Bnav">
        <li {% if  nav=="index"  %}class="active"{% endif %}><a href="/">{{__('index')}}</a></li>
        <li {% if  nav=="sellers"  %}class="active"{% endif %}><a href="/sellers">{{__('seller')}}</a></li>
        <li {% if  nav=="agencys"  %}class="active"{% endif %}><a href="/agencys">{{__('agency')}}</a></li>
        {% if  sessionuser or sessionuser.type!='factory' %}
        <li {% if  nav=="factorys"  %}class="active"{% endif %}><a href="/factorys">{{__('factory')}}</a></li>
        {% endif %}
        <li {% if  nav=="designs"  %}class="active"{% endif %}><a href="/designs">{{__('design')}}</a></li>
        <li {% if  nav=="contact"  %}class="active"{% endif %}><a href="/contact">{{__('ABOUT')}}</a></li>
    </ul>
     <p class="Btext">Copyright © 2017 Acclist鲁ICP备17038222号-1</p>
    </div>
</footer>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.cookie.min.js"></script>
<script src="/js/common.js?v={{js_version}}"></script>
<script type="text/javascript">
  $(".lang").click(function(){
    var lang=$(this).attr("lang")||en;
    $.cookie('locale', lang, { expires: 7 }); 
    location.reload();
  });
  // 
  if($(".unread").length){
     $.ajax({
        type: "GET",
        url: "/api/messageGroup",
        dataType:"json",
        success:function(json){
            if(json.code="success"){
                $(".unread").text(json.count);
            }
        }
    });
  }
 
  $(".loginout").click(function(){
     $.ajax({
        type: "DELETE",
        url: "/login/login",
        dataType:"json",
        success:function(json){
            if(json.code="success"){
                location.reload();
            }
        }
    });
  });
</script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d24ad2af462f622edd96a5d5b3959c28";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {% block foot %} {% endblock %}
</body>
</html>
