{% extends '../base.html' %}

{% block head %}

{% endblock %}


{% block main %}

 <h3>{{__('buy h1')}}</h3>
 <p>{{__('buy h2')}}</p>
<div class="bk20"></div>
 <p>{{__('buy h3')}}</p>
 <p>{{__('buy h4')}}</p>
 <p>{{__('buy h5')}}</p>
 <div class="bk30"></div>
 <p>{{__('buy h6')}}</p>
 <p>{{__('buy h7')}}</p>
 <p>{{__('buy h8')}}</p>
 <p>{{__('buy h9')}}</p>
 <p>{{__('buy h10')}}</p>
 <!--<a href="/pay/payment" class="btn btn-primary">{{__('buy h5')}}</a>-->
{% endblock %}

{% block foot %}
<script></script>  
{% endblock %}