{% extends '../base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h3>{{__('buy p1')}}</h3>
<h4>{{__('buy p2')}}</h4>

<p> &nbsp;</p>
 <p>{{__('buy h1')}}{{price_usd}}</p>
 <p>{{__('buy h2')}}</p>
 <p>{{__('buy h3')}}</p>

 <p> &nbsp;</p>
 <p>{{__('buy h4')}}{{price}}</p>
 <p>{{__('buy h5')}}</p>
 <p>{{__('buy h6')}}</p>
 <p>{{__('buy h7')}}</p>
 <p>{{__('buy h8')}}</p>
 <p> &nbsp;</p>
 <span class="talk"></span><a href="/message/dc91d27092f540ac92e4587ce65b893e"> {{__('Send a message')}}</a>

{% endblock %}

{% block foot %}
<script></script>  
{% endblock %}