{% extends '../base.html' %}

{% block head %}
<style type="text/css">
.glyphicon-user{
  font-size: 70px;
  color: #eee;
}
</style>
{% endblock %}

{% block left %}
<div class="list-group">
  
    <a href="#" class="list-group-item">公司管理</a>
    <a href="#" class="list-group-item">基本信息</a>
    <a href="#" class="list-group-item">产品信息</a>
    <a href="#" class="list-group-item">公司动态</a>
    <a href="#" class="list-group-item">资质证书</a>
    <a href="#" class="list-group-item">消息管理</a>
    <a href="#" class="list-group-item">会员管理</a>
    <a href="#" class="list-group-item">成为会员</a>
    <a href="#" class="list-group-item">购买记录</a>
  
</div>
{% endblock %}

{% block main %}
{% if not user.head_url %}
<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
{% endif %}
{% if  user.head_url  %}
22222222
<img src="{{user.head_url }}" alt="" class="img-rounded">
{% endif %}

 <h3>{{user.email}}</h3>
 <p>会员类型:{{user.role}}
{% if user.role==0 %}
  <a href="/user/buy">升级为高级会员</a></p>
{% endif %}
 <p>全部消息:(18)</p>
 
{% endblock %}

{% block foot %}
<script></script>  
{% endblock %}