{% extends '../base.html' %}

{% block head %}
<style type="text/css">
.glyphicon-user{
  font-size: 70px;
  color: #eee;
}
</style>
{% endblock %}

{% block main %}
{% if not user.head_url %}
<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
{% endif %}
{% if  user.head_url  %}
<img src="{{user.head_url }}" alt="" class="img-rounded">
{% endif %}

 <h3>{{user.email}}</h3>
 <p>{{__('type user')}}:
 	{% if user.type=='factory' %}
  		{{__('factory')}}
	{% endif %}
	{% if user.type=='agency' %}
	  	{{__('agency')}}
	{% endif %}
	{% if user.type=='seller' %}
	  	{{__('seller')}}
	{% endif %}
	{% if user.type=='design' %}
	  	{{__('design')}}
	{% endif %}
 </p>
 <p>{{__('role of user')}}:
{% if user.role==0 %}
  <a href="/user/buy">{{__('to be vip')}}</a>
{% endif %}
{% if user.role==1 %}
  高级会员
{% endif %}
{% if user.role==9 %}
  管理员
{% endif %}
</p>
 <p>{{__('all message')}}:(18)</p>
 <p>{{__('last login time')}}:{{user.last_login_time|formatdate("YYYY-MM-DD HH:mm:ss")}}</p>
{% endblock %}

{% block foot %}
<script></script>  
{% endblock %}