{% extends '../base.html' %}

{% block head %}
<style type="text/css">
.glyphicon-user{
  font-size: 70px;
  color: #eee;
}
.head label{
    display: block;
    width: 100px;
    height: 100px;
    background: #999;
}
.head label img{
  height: inherit;
  width: inherit;
  }
  input[type=file],iframe{
    display: none;
  }
.change a{display: inline-block;padding: 15px 3px;}
</style>
{% endblock %}

{% block main %}
  <input type="hidden" name="imgdomain" value="{{img_domain}}">
   <input type="hidden" name="id" value="{{user.id}}">

<div class="head">
     <label for="uploadfile">
      <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span> -->
      {% if not user.head_url %}
      <img src="/images/unUpload.png" alt="">
      {% endif %}
      {% if  user.head_url  %}
      <img src="{{img_domain}}{{user.head_url }}!300x300" alt="" class="img-rounded">
      {% endif %}
    </label>
    
</div>
<iframe  name="formiframe" id="formiframe" ></iframe>
<form action="/file" method="post" target="formiframe" enctype="multipart/form-data">
<input type="file" name="upload" id="uploadfile">
<!--<button>submit</button>-->
</form>



 <h3>{{user.email}}</h3>
 <p>{{__('type user')}}:
 	{% if user.type=='factory' %}
  		{{__('factory')}}
	{% endif %}
	{% if user.type=='agency' %}
	  	{{__('agency')}}
	{% endif %}
	{% if user.type=='seller' %}
	  	{{__('seller')}}
	{% endif %}
	{% if user.type=='design' %}
	  	{{__('design')}}
	{% endif %}
 </p>
 <p>{{__('role of user')}}:
{% if user.role==0 %}
  <a href="/user/buy" class="red">{{__('to be vip')}}</a>
{% endif %}
{% if user.role==1 %}
  {{__('User vip')}}
{% endif %}
{% if user.role==9 %}
  {{__('manager')}}
{% endif %}
</p>

 <p>{{__('all message')}}:(<span class="messageCount">0</span>)</p>
 <p>{{__('last login time')}}:{{user.last_login_time|formatdate("YYYY-MM-DD HH:mm:ss")}}</p>
{% endblock %}

{% block foot %}
 <!--<script src="/js/ajaxfileupload.js"></script>-->
<script>
  //消息总数回掉
  function messageCount(count){
    $(".messageCount").text(count);
  }

  var iframe = document.getElementById("formiframe");
  var id=$("input[name=id]").val();
  iframe.onload = function(){
    
    //获取iframe的内容，即服务返回的数据
    var responseData = this.contentDocument.body.textContent || this.contentWindow.document.body.textContent;
    var json = JSON.parse(responseData);
    console.log(json);
    var path=json.path;
    var url=json.url;
      $.ajax({
          type: "PUT",
          url: "/user/"+id,
            data:{
            head_url:path
          },
          dataType:"json",
          success:function(json){
              if(json.code="success"){
                setTimeout(function(){
                  $(".head img")[0].src=url+'!300x300';
                },1000);
                  
              }
          }
      });
 }

	// client side only need bucket name
    var id=$("input[name=id]").val();
    $("#uploadfile").on("change",function(){
      $("form").submit();
      // $.ajaxFileUpload({
      //   url: '/file',
      //   secureuri: false,
      //   fileElementId:"uploadfile",
      //   data: {},
      //   dataType:"json",
      //   success:function(json, status ){
      //     console.log("success",json, status )
         
          
      //   }
      // });

        
    })
</script>  
{% endblock %}