{% extends '../empty.html' %}

{% block head %}
<link href="/css/signin.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block main %}
<div class="container">


<form class="form-horizontal">
    <div class="form-group"><h3 class="text-center" style="font-family: Helvetica, sans-serif;line-height: 1.2;font-size: 32px;">{{__('Forgot Password')}}</h3>
    </div>
  <div class="form-group">
    <!--<label for="inputEmail3" class="col-sm-3 control-label">{{__('E-mail')}}</label>-->
    <div class="col-sm-12">
      <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="E-mail">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary btn-block btn-height">{{__('Confirm')}}</button>
    </div>
  </div>
</form>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">

$("form").on("submit",function(){


	 var data=$("form").serialize();
	 $.ajax({
        type: "POST",
        url: "/login/forget",
         data:data,
        dataType:"json",
        success:function(json){
            if(json.code="success"){
                location.href="/login/sendemail?id="+json.id;
            }
        }
    });
	return false;
});
</script>  
{% endblock %}


