{% extends './base.html' %}

{% block head %}

{% endblock %}

{% block left %}

{% endblock %}

{% block main %}
<form>
	<div><label>邮箱</label><input type="email" name="email"></div>
	<input type="submit" value="submit">
</form>

{% endblock %}

{% block foot %}
<script type="text/javascript">

$("form").on("submit",function(){

	var fd=new FormData(this);
	
	 $.ajax({
        type: "POST",
        url: "/reg",
         data:{
        	email:fd.get("email"),
        	password:fd.get("password"),
            password2:fd.get("password2"),
        },
        dataType:"json",
        success:function(json){
            console.log(json);
        }
    });
	return false;
});
</script>  
{% endblock %}


