{% extends '../empty.html' %}

{% block head %}
<link href="/css/signin.css" type="text/css" rel="stylesheet"/>
<style type="text/css">

</style>
{% endblock %}

{% block main %}

<div class="container">
    <p class="text-right">
        <a class="lang" href="#" lang="zh-CH">
            中文
        </a>
        &nbsp;/&nbsp;
        <a class="lang" href="#" lang="en">
            EN
        </a>
    </p>
    <div class="login-logo"><a href="/"></a></div>
    <nav class="c-auth__main-tabs"><ul><li class="c-auth__tabs-log-in is-active"><a href="/login/login" data-to="login" aria-selected="true">Log In</a></li><li class="c-auth__tabs-sign-up"><a href="/login/reg" data-to="signup" aria-selected="false">Sign Up</a></li></ul></nav>
    <form class="form-horizontal" >

        <div class="form-group">
            <!-- <label class="col-sm-3 control-label" for="inputEmail3">
                {{__('email')}}
            </label> -->
            <div class="col-sm-12">
                <input class="form-control" id="inputEmail3" name="email" placeholder="{{__('Email')}}" type="email">
                </input>
            </div>
        </div>
        <div class="form-group">
            <!-- <label class="col-sm-3 control-label" for="inputPassword3">
                {{__('password')}}
            </label> -->
            <div class="col-sm-12">
                <input class="form-control" id="inputPassword3" name="password" placeholder="{{__('Password')}}" type="password">
                </input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-block btn-height" type="submit">
                    {{__('LOGIN')}}
                </button>
            </div>
        </div>
        <div class="form-group foot-line">
            <!--<label class="col-sm-6">
                {{__('have not account')}}
                <a href="/login/reg">
                    {{__('please register')}}
                </a>
            </label>-->
            <div class="col-sm-6">
              <p class=" text-right">
                <a href="/login/forget">
                    {{__('Forgot Your Password')}}
                </a>
              </p>
            </div>
        </div>
   <!--      <div class="center-block">
            <span class="pull-left">
                {{__('have not account')}}
                <a href="/login/reg">
                    {{__('please register')}}
                </a>
            </span>
            <span class="pull-right">
                <a href="/login/forget">
                    {{__('forget password')}}
                </a>
            </span>
        </div> -->
    </form>
</div>

<div class="clearfix">
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
    var valid_en={  
    password: {
      required: "Please provide a password",
      minlength: "Your password must be at least 5 characters long"
    },
    email: "Please enter a valid email address"
  }
var valid_zh={
    
    password: {
      required: "请输入密码",
      minlength: "密码最少6位"
    },
    email: "请输入正确的邮箱"
  }  
var messages=valid_en;

if($.cookie("locale")=="zh-CH"){
  messages=valid_zh;
}

var validator=$("form").validate({
  rules: {
    password: {
      required: true,
      minlength: 5
    },
    email: {
      required: true,
      email: true
    }
  },
  messages: messages,
  errorElement: "em"

});

$("form").on("submit",function(){


   
   if(!$(this).valid()){
    return false;
   }
   var data=$(this).serialize();
   $.ajax({
        type: "POST",
        url: "/login/login",
        data:data,
        //  data:{
        //   email:fd.get("email"),
        //   password:fd.get("password")
        // },
        dataType:"json",
        success:function(json){
            console.log(json);
            if(json.code=="success"){
                location.href="/user/center";
            }
            if(json.code=="not_found"){
              // var error='<em class="error" style="display: inline;">邮箱或者密码错误</em>';
              // $("input[name=password]").after(error);
              validator.showErrors({
                "password": "email or password incorrect"
              });
            }
            if(json.code=="not_active"){

              validator.showErrors({
                "password": "your account is not active"
              });
            }
            
        }
    });
  return false;
});
</script>
{% endblock %}
