{% extends '../empty.html' %}

{% block head %}
<link href="/css/signin.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}

<div class="container">
    <p class="text-right">
        <a class="lang" href="#" lang="zh-CH">
            中文
        </a>
        &nbsp;/&nbsp;
        <a class="lang" href="#" lang="en">
            EN
        </a>
    </p>
    <div class="login-logo"><a href="/"></a></div>
    <form class="form-horizontal">
        <div class="form-group">
           <!--  <label class="col-sm-2 control-label">
                {{__('email')}}
            </label> -->
            <div class="col-sm-12">
                <input class="form-control" name="email" placeholder="{{__('email')}}" required="" type="email">
                </input>
            </div>
        </div>
        <div class="form-group">
           <!--  <label class="col-sm-2 control-label" for="inputPassword3">
                {{__('password')}}
            </label> -->
            <div class="col-sm-12">
                <input class="form-control" id="inputPassword3" name="password" placeholder="{{__('password')}}" type="password">
                </input>
            </div>
        </div>
        <div class="form-group">
           <!--  <label class="col-sm-2 control-label" for="inputPassword3">
                {{__('confirm password')}}
            </label> -->
            <div class="col-sm-12">
                <input class="form-control" id="inputPassword3" name="password2" placeholder="{{__('confirm password')}}" type="password">
                </input>
            </div>
        </div>
        <div class="form-group">
            <!-- <label class="col-sm-2 control-label" for="inputPassword3">
                {{__('type user')}}
            </label> -->
            <div class="col-sm-12">
                <select class="form-control" name="type">
                    <option value="seller">
                        {{__('seller')}}
                    </option>
                    <option value="agency">
                        {{__('agency')}}
                    </option>
                    <option value="factory">
                        {{__('factory')}}
                    </option>
                    <option value="design">
                        {{__('design')}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-primary  btn-block" type="submit">
                    {{__('register')}}
                </button>
            </div>
        </div>
        <div class="center-block">
    {{__('have acount')}}
    <a href="/login/login">
        {{__('please sign in')}}
    </a>
</div>
    </form>
</div>


{% endblock %}

{% block foot %}
<script type="text/javascript">
    $("form").validate({
  rules: {
    password: {
      required: true,
      minlength: 5
    },
    password2: {
      required: true,
      minlength: 5,
      equalTo: "input[name=password]"
    },
    email: {
      required: true,
      email: true,
      remote:"/api/user/email"
    }
  },
  messages: {
    
    password: {
      required: "Please provide a password",
      minlength: "Your password must be at least 5 characters long"
    },
    _password2: {
      required: "Please provide a password",
      minlength: "Your password must be at least 5 characters long",
      equalTo: "Please enter the same password as above"
    },
    email: {
        required:"Please enter a valid email address",
        email:"Please enter a valid email address",
        remote:"email address already exits"
    }
  },
  errorElement: "em"

});


$("form").on("submit",function(){
  if(!$(this).valid()){
    return false;
  }

  var data=$(this).serialize();
   $.ajax({
        type: "POST",
        url: "/login/reg",
        data:data,
        //  data:{
        //   email:fd.get("email"),
        //   password:fd.get("password"),
        //   password2:fd.get("password2"),
        //   type:fd.get("type")
        // },
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
                location.href="/login/sendemail?id="+json.id;
            }
        }
    });
  return false;
});
</script>
{% endblock %}
