{% extends '../empty.html' %}

{% block head %}
<link href="/css/signin.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}
<div class="container yahei">
    <div class="login-logo"><a href="/"></a></div>
    <div class="log-row">
        <div class="reg-ok"></div>
        <p class="mailtext yahei">恭喜你{{user.email}}注册成功！</p>
        <span><a href="/user/center">会员中心</a>或者去 <a href="/">首页</a></span>
    </div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">

</script>  
{% endblock %}


