{% extends '../empty.html' %}

{% block head %}
<link href="/css/signin.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}
<div class="container yahei">
    <p class="text-right">
        <a class="lang" href="#" lang="zh-CH">
            中文
        </a>
        &nbsp;/&nbsp;
        <a class="lang" href="#" lang="en">
            EN
        </a>
    </p>
    <div class="login-logo"><a href="/"></a></div>
    <div class="log-row">
        <div class="reg-ok"></div>
        <p class="mailtext yahei">
            {{__('reg from email')}}</p>
        <p><a href="/user/center">{{__('user center')}}</a> </p>
         <p><a href="/">{{__('index')}}</a></p>
    </div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">

</script>  
{% endblock %}


