{% extends '../toolbar_index.html' %}

{% block head %}
<style type="text/css">
.sendbox{width: 600px;margin: 0 auto;}
.sendbox h2{font-size: 28px;margin-bottom: 30px;}
.sendbox .form-control{height: 120px;}
</style>
{% endblock %}

{% block main %}
<div class="container sendbox">

  {%if bean.role==0%}
  <h2>{{__('message p1')}}</h2>
  {%else%}
  <h2>{{__('Send a message')}}</h2>
  {% endif %}
  <form class="form-horizontal">
  {%if bean.role==0%}
  <!-- 普通会员给管理员发送信息 -->
  <input type="hidden" name="receiver_id" value="dc91d27092f540ac92e4587ce65b893e">
  {%else%}
  <input type="hidden" name="receiver_id" value="{{bean.id}}">
  {% endif %}
  
    <div class="form-group">
        {%if bean.role==0%}
        <div class="col-sm-3">
            {{__('message p2')}}
        </div>
        {% endif %}
      <div class="col-sm-9">
        <textarea name="content" class="form-control" maxlength="200"></textarea>
      </div>
      <!-- <div class="col-sm-6"></div> -->
    </div>
    <div class="form-group">
        <div class="col-sm-3">
           
          </div>
      <div class="col-sm-9">
        <button type="submit" class="btn btn-primary">{{__('Send')}}</button>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}

{% block foot %}
<script>
  var valid_en={  
    content: {
      required: "Please provide content",
      maxlength: "content can not more than 500 characters long"
    }
    
  }
var valid_zh={
    
    content: {
      required: "请输入内容",
      maxlength: "内容最长500个字符"
    }
  }  
var messages=valid_en;

$("form").validate({
  rules: {
    content: {
      required: true,
      maxlength: 500
    }
  },
  messages: messages,
  errorElement: "em"

});

$("form").on('submit',function(e){

    var $this=$(this);
    if(!$this.valid()){
       return false;
     }
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
   var data=$(this).serialize();
    $.ajax({
        type: method,
        url: "/api/message",
        data:data,
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
             YY.dialog({content:json.code}).alert();
            	history.go(-1);
            }
            if(json.code=='myself'){
              alert("自己不能给自己发信");
            }
        }
    });

    return false;
});
</script>  
{% endblock %}