{% extends '../toolbar_index.html' %}

{% block head %}

{% endblock %}

{% block main %}
<div class="container">

  <h2>给{{bean.name}}发站内信</h2>
  <form class="form-horizontal">
  <input type="hidden" name="receiver_id" value="{{bean.id}}">
    <div class="form-group">
      <div class="col-sm-12">
        <textarea name="content" class="form-control" maxlength="200"></textarea>
      </div>
      <!-- <div class="col-sm-6"></div> -->
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-default">add</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block foot %}
<script>
$("form").on('submit',function(e){

    var fd=new FormData(this);
    var method=fd.get('id')?"PUT":"POST";
    console.log(fd.get('id'));
    $.ajax({
        type: method,
        url: "/api/message",
        data:{receiver_id:fd.get('receiver_id'),
	        content:fd.get('content')
    	},
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
              alert("send success");
            	history.go(-1);
            }
            if(json.code=='myself'){
              alert("自己不能给自己发信");
            }
        }
    });

    return false;
});
</script>  
{% endblock %}