{% extends '../base.html' %}

{% block head %}
<style type="text/css">
  .list img{
    width: 50px;
  }
</style>
{% endblock %}

{% block main %}

<!-- <h2 class="text-center">{{receiver.name}}</h2> -->
  {% for e in list %}
 
  <div class="row list">
    <div class="col-xs-2 col-md-2">
      {% if not e.sender_head %}
      <img src="/images/user.png" class="img-circle">
      {% endif%}
      {% if e.sender_head %}
        <img src="{{img_domain}}{{e.sender_head}}!300x300" alt="" class="img-circle">
       {% endif%}
    </div>
    <div class="col-xs-7 col-md-7">
      <h4>{{e.sender_name}}
      </h4>
      <p>{{e.content}}</p>
    </div>
   
    <div class="col-xs-3 col-md-3">
      {{e.create_time|formatdate("YYYY-MM-DD HH:mm:ss")}}
    </div>

  </div>
   {% endfor %}
<form class="form-horizontal">
<input type="hidden" name="receiver_id" value="{{receiver.id}}">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">content</label>
    <div class="col-sm-10">
      <textarea name="content" class="form-control" ></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">send</button>
    </div>
  </div>
</form>
</div>
{% endblock %}

{% block foot %}
<script>
$("form").on('submit',function(e){

    var $this=$(this);
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
    var data=$this.serialize();
    $.ajax({
        type: method,
        url: "/api/message",
        data:data,
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
            	location.reload();
            }
            if(json.code=='receiver_null'){
              alert("收信人不存在");
            }
        }
    });

    return false;
});
</script>  
{% endblock %}
