body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
form{
   max-width: 330px;
   margin: 0 auto;
     background: #FFF;
  padding: 20px;
}
h3{
  margin-bottom: 30px;
}
.foot-line{
  margin-top: 30px;
}