/* start upload */
.glyphicon-plus{
font-size: 3em;
padding: 15px;
border:1px solid #ccc;
color: #ccc;
}
.bk10{height: 10px;width: 100%;overflow: hidden;font-size: 0px;display: block;}
.bk20{height: 20px;width: 100%;overflow: hidden;font-size: 0px;display: block;}
.bk30{height: 30px;width: 100%;overflow: hidden;font-size: 0px;display: block;}
/*浮动相关*/
.clearfix:after{ clear:both; content:"."; display:block; font-size:0; height:0; visibility:hidden;}
.clearfix{ display:inline-block; }/* Hides from IE-mac */
.clearfix{ _height:1%; }
.clearfix{ display:block; }/* End hide from IE-mac */
.clear{ clear:both; line-height:0; }
.fl{ float:left; }
.fr{ float:right; }
.left{float: left;}
.right{float: right;}
.fn{ float:none; }
.overflow,.oh{ overflow:hidden; zoom:1; }
.clearBoth{clear: both;}
.clear,.clearfix:after {
    clear:both;
    height:0;
    overflow:hidden;
    display:block
}
.clearfix:after {
    visibility:hidden;
    content:"."
}
.clearfix {
    *zoom:1
}
.imgs img{
width: 100px;
height: 100px;
}
.yahei{font-family: "Microsoft YaHei","\5fae\8f6f\96c5\9ed1";}
.imgs div{
position: relative;
margin-bottom: 10px;
}
.imgs .glyphicon{
position: absolute;
background: #eee;
top: initial;
bottom: 5px;
right: 5px;
cursor: pointer;
}
/* end upload */
.unread,.error{
	color: red;
}

html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -70px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.footer, .page-wrap:after {
    height: 70px;
}
.logo{margin: 25px 30px 0 0;}
.navcon{font-size: 16px;}
.navcon li a,.navcon li a:visited{color: #222;}
.navcon li a:hover{color: #ef8201;}
.indexbg{background: url("../images/wmap.png") no-repeat center center;width:1101px;height: 410px;padding-top: 20px;margin:10px auto 0px;}
.book{background: url("../images/book.png") no-repeat center center;width: 203px;height: 164px;margin: 50px auto 0px;}
.loginnow{width: 140px;height: 52px;margin: 20px auto;box-shadow:0 6px 20px 0 rgba(255,201,0,.16)}
.loginnow a{display: block;font-size: 14px;text-align: center;line-height: 52px;background: #ef8201;color: #222;}
.jumbotron p{font-size: 14px;text-align: center}
.newsbg{background: #f9f9f9;margin-bottom: 20px;margin-top: -80px;}
.list-news li{float: left;background: url("../images/dian.png") no-repeat 0 15px;padding-left: 22px;display: inline-block;line-height: 35px;width: 100%;font-size: 16px;}
.title{margin: 20px 0px 15px 35px;line-height: 24px;}
.title span{background: url("../images/title.png") no-repeat;width: 3px;height: 24px;display: block;float: left;margin-right: 12px;}
.title i{background: url("../images/newsicon.png") no-repeat;width: 40px;height: 12px;display: inline-block;margin-left: 12px;}
.footer {width: 100%;height: 70px;background-color: #262523;}
.Blogo{margin: 18px 25px 0 0;float: left;}
.Bnav li{float: left;margin-top: 24px;list-style: none;}
.Bnav li a{padding: 0 15px;color: #676767;line-height: 24px;}
.jumbotron{padding-top: 0px;padding-bottom: 0px;}
.Btext{float: right;color: #676767;line-height: 50px;}

.media-heading{margin-top: 40px;float: left;width: 400px;}
.rightinfo{float: right;width: 80px;}
.talk{background: url("../images/talk.png") no-repeat;width: 22px;height: 20px;margin-right: 15px;display: block;float: left;}
.more{background: url("../images/more.png") no-repeat;width: 27px;height: 16px;display: block;float: left;}
.list{margin-bottom: 30px;}
.list .col-md-3:first-child{width: 150px;padding: 0px;}
.search-bt{border: none;text-align: center;height: 44px;line-height: 44px;background: #ef8201;color: #222;width: 75px;vertical-align: middle;}
.form-inline{margin-top: 15px;}
.form-width{width: 400px;}
.change a{float: left;}
.search a span{display: block;background: url("../images/search.png") no-repeat;width: 22px;height: 22px;margin: 17px auto 3px;}
.login a span{display: block;background: url("../images/login.png") no-repeat;width: 19px;height: 22px;margin: 17px auto 3px;}
.registration a span{display: block;background: url("../images/registration.png") no-repeat;width: 21px;height: 22px;margin: 17px auto 3px;}
.search a p,.login a p,.registration a p{margin: 0px;line-height: 20px;}
a.red{color: #ff0000;}
.logotext{font-size: 18px;color: #000;margin-left: 10px;}
.fg-mail{float: left;background: url("../images/fg-mail.png") no-repeat;width: 95px;height: 95px;margin-right: 25px;}
.reg-ok{float: left;background: url("../images/reg-ok.png") no-repeat;width: 95px;height: 130px;margin-right: 25px;}
.loginEmail a{display: inline-block;text-align: center;height: 50px;line-height: 50px;background: #ef8201;color: #222;font-size: 16px;width: 160px;}
.mailtext{font-size: 20px;white-space: nowrap;margin: 5px 0 12px;color: #222222;}
.log-row{margin: 100px auto;display: table;}
.fa-dh{background: url("../images/phone_icon.png") no-repeat;width: 110px;height: 110px;display: block;margin: 50px auto 0px;}
.fa-dz{background: url("../images/adress_icon.png") no-repeat;width: 110px;height: 110px;display: block;margin: 50px auto 0px;}
.about-text{margin: 0px 0px 0px 120px;}
.about-text p{text-align: left;font-size: 16px;color: #222;}
.btn-height{height: 40px;line-height: 40px;}
.contentText p{line-height: 26px;font-size: 16px;margin: 10px 0px;}
.searchWord{color: #999;margin: 20px 0px 0px 15px;}
.searchWord span{margin-right: 6px;}
.fc999{color: #999;}
.mr5{margin-right: 5px;}
.indexC{width: 800px;margin: 0 auto;}
.pic-link a{display: table-cell;width: 150px;height: 150px;border: 1px solid #ddd;vertical-align: middle;text-align: center;overflow: hidden;border-radius:4px;}
.allimg{display: table-cell;width: 150px;height: 150px;border: 1px solid #ddd;vertical-align: middle;text-align: center;overflow: hidden;border-radius:4px;padding: 0px;}
.head_img{display: table-cell;width: 150px;height: 150px;border: 1px solid #ddd;vertical-align: middle;text-align: center;overflow: hidden;border-radius:4px;}
.pic-link-img {width:100%;height:auto;background-color:#fff;-webkit-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.info-list label{float: left;width: 15%;font-weight: normal;color: #999;}
.info-list span{width: 84%;float: right;margin-left: 1%;}