{% extends '../base.html' %}

{% block head %}
<style type="text/css">
#uploadForm{
  display: none;
}
</style>
{% endblock %}

{% block main %}
<form class="form-horizontal">
    <input name="id" type="hidden" value="{{bean.id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3">
                {{__('title')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" id="inputEmail3" name="title" placeholder="{{__('title')}}" type="text" value="{{bean.title}}">
                </input>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-2 control-label" for="inputPassword3">
                {{__('price')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="price" placeholder="name" type="text" value="{{bean.price}}">
                </input>
            </div>
        </div>
        -->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('material')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="material" placeholder="name" type="text" value="{{bean.material}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('image')}}
            </label>
            <div class=" col-sm-10">
                <div class="imgs">
                    {% for e in bean.imgs %}
                        {% if e %}
                        <div>
                        <img class="img-thumbnail" src="{{img_domain}}{{e}}"/>
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        <input name="img" type="hidden" value="{{e}}"/>
                        </div>
                        {% endif %}
                    {% endfor %}
                     
                </div>
                <div class="fileselect">
                    <label class="glyphicon glyphicon-plus" for="uploadfile">
                    </label>
                   
                </div>
            </div>
        </div>
        <input type="hidden" name="imgs">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">
                    {{__('save')}}
                </button>
            </div>
        </div>
    </input>
</form>

<form id="uploadForm" action="/file" method="post" target="formiframe" enctype="multipart/form-data">
  <input type="file" name="upload" id="uploadfile">
</form>
{% endblock %}

{% block foot %}
 <script src="/js/upload.js"></script>

<script>
    var valid_en={  
    title: {
      required: "Please provide title",
      maxlength: "title can not more than 100 characters long"
    },
    price: "Please enter a valid price"
  }
var valid_zh={
    
    title: {
      required: "请输入标题",
      maxlength: "标题最长100个字符"
    },
    price: "请输入正确的价格"
  }  
var messages=valid_en;

if($.cookie("locale")=="zh-CH"){
  messages=valid_zh;
}

$("form.form-horizontal").validate({
  rules: {
    title: {
      required: true,
      maxlength: 100
    },
    price: {
      required: true
    }
  },
  messages: messages,
  errorElement: "em"

});

var imgCount=$(".imgs input").length;
if(imgCount>=10){
  $(".fileselect").hide();
}

$.upload({
    fileElementId:"uploadfile",
    callback:function(json){
       setTimeout(function(){

           $(".imgs").append('<div><img src="'+json.url+'!300x300" class="img-thumbnail"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i>'+
            '<input type="hidden" name="img" value="'+json.path+'"></div>')
            // console.log(json);
            imgCount++;
            if(imgCount>=10){
              $(".fileselect").hide();
          }

        },1000)
    }
})


$(".imgs").on("click",".glyphicon-trash",function(){
  $(this).parent("div").remove();
});
$("form.form-horizontal").on('submit',function(e){

     var $this=$(this);
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
    
    var imgs=[];
    $(".imgs input[name=img]").each(function(){
      imgs.push($(this).val());
    })
    $this.find("input[name=imgs]").val(imgs.join(","));
    var data=$this.serialize();
    if(!$this.valid()){
        return false;
    }
    $.ajax({
        type: method,
        url: "/api/works",
        data:data,
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
              $("input[name=id]").val(json.id);
              
              YY.dialog({content:json.code}).alert();
              // location.href="/works";
            }else{
              // location.reload();
            }
        }
    });

    return false;
});
</script>
{% endblock %}
