{% extends '../toolbar_index.html' %}

{% block head %}
<style type="text/css">
.blog-header h1{margin-bottom: 15px;}
.blog-header p{margin-bottom: 30px;}
.blog-header p span{margin-right: 10px;}
.row{text-align: center;}
.row img{text-align: center;margin: 0 auto 15px;}
</style>
{% endblock %}

{% block main %}

<div class="container">
      
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/designs">Designer</a></li>
    <li class="active">detail</li>
  </ol>
      <div class="blog-header">
        <h1 class="blog-title">{{bean.title}}</h1>
        <p><span> {{__('price')}}:{{bean.price|fmoney}}</span><span>{{__('material')}}:{{bean.material}}</span></p>
      </div>

      <div class="row">
        {% for e in list %}
            <p><img src="{{img_domain}}{{e.img}}!300x300"/></p>
            <p>{{e.content}}</p>
          {% endfor %}
          

        <!-- /.blog-main -->

       
      </div><!-- /.row -->

    </div><!-- /.container -->


</div>
{% endblock %}

{% block foot %}
<script>

</script>  
{% endblock %}