{% extends './base.html' %}

{% block main %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>url</th>
      <th>sort</th>
      <th>operation</th>
    </tr>
  </thead>
  <tbody>
    
   {% for item in navs %}
      <tr>
      <td>{{item.name}}</td>
      <td>{{item.url}}</td>
      <td>{{item.sort}}</td>
      <td><a href="/api/nav" class="btn btn-danger" role="button" data-id="{{item.id}}">del</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<form class="form-horizontal" action="/api/nav">
        <input type="hidden" name="id" value="{{id}}">
      <div class="form-group">
        <label class="col-sm-2 control-label">name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" placeholder="name" value="{{name}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">url</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="url" placeholder="url" value="{{url}}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </div>
    </form>
{% endblock %}
{% block foot %}
<script>
    console.log($)

    $("form").on('submit',function(e){
      var fd=new FormData(this);
      var method=fd.get('id')?"PUT":"POST";
      console.log(this.method);
      
      $.ajax({
          type: method,
          url: this.action,
          data:{id:fd.get('id'),name:fd.get('name'),url:fd.get('url'),sort:1},
          dataType:"json",
          success:function(json){
              if(json.code=="success"){
                  location.reload();
              }else{
                alert("保存失败");
              }
          }
      });
      
      return false;
    });
    $(".btn-danger").on("click",function(){
        console.log(this.href)
        var that=$(this);
        $.ajax({
          type: "delete",
          url: this.href,
          data:{id:that.data("id")},
          dataType:"json",
          success:function(json){
              if(json.code=="success"){
                  location.reload();
              }else{
                alert("保存失败");
              }
          }
      });
      return false;
    })
</script>
{% endblock %}