{% extends '../empty.html' %}

{% block head %}
<style type="text/css">
    .list{
    margin-bottom: 10px;
  }
  .list .col-md-3:first-child{
      width: 150px;
  }
</style>
{% endblock %}

{% block main %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- <a class="navbar-brand" href="#"> -->
            <img src="/images/logo.png">
                <!-- </a> -->
            </img>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            
            <form action="/search/result" class="form-inline" method="get">
                <div class="form-group">
                    <select class="form-control" name="type">
                        <option value="seller">
                            {{__('seller')}}
                        </option>
                        <option value="agency">
                            {{__('agency')}}
                        </option>
                        <option value="factory">
                            {{__('factory')}}
                        </option>
                        <option value="design" selected>
                            {{__('design')}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" name="q" placeholder="关键字" type="text" value="{{q}}">
                    </input>
                </div>
                <button class="btn btn-default" type="submit">
                    搜索
                </button>
            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
   {% for e in result.rows %}
    <div class="row list">
        <div class="col-xs-3 col-md-3">
            <a href="/design/{{e.id}}">
                {% if e.head %}
                 <img class="img-thumbnail" src="{{img_domain}}{{e.head}}!300x300"/>
                 {% else %}
                  <img alt="" class="img-thumbnail" src="/images/default.png"/>
                {% endif %}
            </a>
        </div>
        <div class="col-xs-9 col-md-9">
             <h4>
                <a href="/design/{{e.id}}">
                    {{e.name}}
                </a>
            </h4>
            <p>{{__('location')}}:
               {% for d in e.areas %}
            {{d.name}}
            {% endfor %}
            </p>
            
            <p>{{__('work experience')}}:
            {% for d in e.work_experience %}
            {{d}}
            {% endfor %}
            </p>
            <p>{{__('design content')}}:{{e.content}}</p>      
        </div>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation ">
        <ul class="pagination" >
            {{page.html}}
        </ul>
    </nav>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
    (function(){

  $("form").on("submit",function(){
      var type=$("select[name=type]").val();
      this.action="/search/"+type;
      
  });

})()
</script>
{% endblock %}
