{% extends '../toolbar_index.html' %}

{% block head %}

{% endblock %}

{% block main %}
<div class="container">
    
    <div class="jumbotron">

    </div>
    <form class="form-horizontal" action="/search/seller" method="get">
      <div class="form-group">
        <div class="col-sm-2">
            <select class="form-control" name="type">
                <option value="factory">
                    {{__('factory')}}
                </option>
                <option value="seller">
                    {{__('seller')}}
                </option>
                <option value="agency">
                    {{__('agency')}}
                </option>
                <option value="design">
                    {{__('design')}}
                </option>
            </select>
        </div>
        <div class="col-sm-8">
          <input type="text" name="q" class="form-control" placeholder="{{__('keyword')}}">
        </div>
         <div class="col-sm-2">
            <button type="submit" class="search-bt">{{__('search')}}</button>
        </div>
          <div class="clearfix"></div>
          <p class="searchWord"><span>you can search by：</span><span>Company name、</span><span>Factory audit、</span><span>Approved brand、</span><span>The brand and customer used to work with、</span><span>Specialize</span></p>
      </div>
     
    </form>
    
</div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
(function(){

  $("form").on("submit",function(){
      var type=$("select[name=type]").val();
      this.action="/search/"+type;
      
  });

})()
</script>
{% endblock %}
