{% extends '../base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h3>添加中间商</h3>
<form class="form-horizontal">
  <input type="hidden" name="id" value="{{bean.id}}"/>
  <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('company name')}}</label>
    <div class="col-sm-10">
      <input type="text" name="name" value="{{bean.name}}" class="form-control" placeholder="{{__('company name')}}">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('company english name')}}</label>
    <div class="col-sm-10">
      <input type="text" name="ename" value="{{bean.ename}}" class="form-control" placeholder="{{__('company english name')}}">
    </div>
  </div>
  
   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('offical website')}}</label>
    <div class="col-sm-10">
      <input type="text" name="offical_website" value="{{bean.offical_website}}" class="form-control" placeholder="{{__('offical website')}}">
    </div>
  </div>
     <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('company address')}}</label>
    <div class="col-sm-10">
      <textarea name="address"  class="form-control" placeholder="{{__('company address')}}">{{bean.address}}</textarea>
    </div>
  </div>
     <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('company custom service')}}</label>
    <div class="col-sm-10">
      <input type="text" name="custom_service" value="{{bean.custom_service}}" class="form-control" placeholder="{{__('company custom service')}}">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('contact phone')}}</label>
    <div class="col-sm-10">
      <input type="text" name="phone" value="{{bean.phone}}" class="form-control" placeholder="{{__('contact phone')}}">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label">twitter</label>
    <div class="col-sm-10">
      <input type="text" name="twitter" value="{{bean.twitter}}" class="form-control" placeholder="twitter">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label">facebook</label>
    <div class="col-sm-10">
      <input type="text" name="facebook" value="{{bean.facebook}}" class="form-control" placeholder="facebook">
    </div>
  </div>
       <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('company position')}}</label>
    <div class="col-sm-10">
      <input type="text" name="position" value="{{bean.position}}" class="form-control" placeholder="{{__('company position')}}">
    </div>
  </div>
  
   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('company email')}}</label>
    <div class="col-sm-10">
      <input type="email" name="email"  value="{{bean.email}}" class="form-control" placeholder="{{__('company email')}}">
    </div>
  </div>

   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('build time')}}</label>
    <div class="col-sm-10">
      <input type="text" name="build_time2" value="{{bean.build_time|formatdate("YYYY-MM-DD")}}" class="form-control" placeholder="{{__('build time')}}">
    </div>
  </div>
  {% for e in bean.brand %}
  <div class="form-group  {% if loop.last %}brand{% endif %}">
      <label class="col-sm-2 control-label">
          {{__('cooperation brand')}}
      </label>
      <div class="col-sm-10">
          <input class="form-control" name="brand" placeholder="{{__('cooperation brand')}}" type="text" value="{{e}}">
          </input>
      </div>
  </div>
  {% else %}
  <div class="form-group brand">
      <label class="col-sm-2 control-label">
          {{__('cooperation brand')}}
      </label>
      <div class="col-sm-10">
          <input class="form-control" name="brand" placeholder="{{__('cooperation brand')}}" type="text" value="">
          </input>
      </div>
  </div>
  {% endfor %}
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="javascript:void(0);" class="btn btn-default addC">{{__('add')}}</a>
      </div>
    </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('purchase per year')}}</label>
    <div class="col-sm-5">
    <input type="text" name="purchase_per_year" value="{{bean.purchase_per_year}}"  class="form-control" placeholder="{{__('purchase per year')}}"/>
     
    </div>
    <div class="col-sm-5">
       <p class="form-control-static">万元</p>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('payment days')}}</label>
    <div class="col-sm-10">
     <input type="text" name="payment_days" value="{{bean.payment_days}}"  class="form-control" placeholder="{{__('payment days')}}"/>
    
    </div>
  </div>
  <div class="form-group">
        <label class="col-sm-2 control-label">
            {{__('location')}}
        </label>
        <div class="col-sm-10">
          <div class="row city" data-area="{{bean.area}}">
            <div class="col-xs-4 col-sm-4">
              <select name="area1" class="form-control">
                
              </select>
            </div>
            <div class="col-xs-4 col-sm-4">
             <select name="area2" class="form-control">
              
            </select>
             </div>
            <div class="col-xs-4 col-sm-4">
             <select name="area3" class="form-control">
              
            </select>
             </div>
          </div>
        </div>
    </div>
    <input type="hidden" name="build_time">
    <input type="hidden" name="brands">
    <input type="hidden" name="area">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{{__('confirm')}}</button>
    </div>
  </div>
</form>
{% endblock %}

{% block foot %}
<script type="text/javascript" src="/js/city.js"></script>
<script>
var city=$(".city").city();  
var locale=$.cookie('locale')||'en'; 
   $('[name=build_time2]').datetimepicker({
        language:  locale,
        format: 'yyyy-mm-dd',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });

var valid_en={  
    name: {
      required: "Please provide name",
      maxlength: "name can not more than 100 characters long"
    },
    ename: {
      required: "Please provide ename",
      maxlength: "ename can not more than 100 characters long"
    },
    price: "Please enter a valid price"
  }
var valid_zh={
    
    name: {
      required: "请输入标题",
      maxlength: "标题最长100个字符"
    },
    ename: {
      required: "请输入英文标题",
      maxlength: "英文标题最长100个字符"
    },
    price: "请输入正确的价格"
  }  
var messages=valid_en;

if($.cookie("locale")=="zh-CH"){
  messages=valid_zh;
}

$("form").validate({
  rules: {
    title: {
      required: true,
      maxlength: 100
    },
    price: {
      required: true
    }
  },
  messages: messages,
  errorElement: "em"

});

$(".addC").click(function(){
  var temp=$(".brand");
  var clone=temp.clone();
  temp.after(clone);
  temp.removeClass("brand")
  clone.find("input").val("");
});

$("form").on('submit',function(e){

    var $this=$(this);
     if(!$this.valid()){
       return false;
     }
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
   
   var build_time2=$this.find("input[name=build_time2]").val();
    var build_time=Date.parse(build_time2)||'';
    var brands=[];
    $("input[name=brand]").each(function(){
      brands.push($(this).val());
    })
    var area=[];
    $(".city select").each(function(){
      area.push(this.value);
    });
    $this.find("input[name=area]").val("_"+area.join("_")+"_");
    $this.find("input[name=brands]").val(brands.join(","));
    $this.find("input[name=build_time]").val(build_time);
    var data=$this.serialize();

    var url="/manage/agency";
    if(method.toLowerCase()=="put"){
      url="/api/agency"
    }
    $.ajax({
        type: method,
        url: url,
        data:data,
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
            	$("input[name=id]").val(json.id);
               YY.dialog({content:json.code,callback:function(){
                location.href="/manage/agencys";
              }}).alert();  
            	// YY.dialog({content:json.code}).alert();
              // location.href="/manage/agencys";
            }else{
            	// location.reload();
            }
        }
    });

    return false;
});
</script>  
{% endblock %}