{% extends '../base.html' %}

{% block head %}
<style type="text/css">

</style>
{% endblock %}

{% block main %}
<h3>产品信息</h3>
<form class="form-horizontal">
<input type="hidden" name="id" value="{{bean.id}}">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">{{__('title')}}</label>
    <div class="col-sm-10">
      <input type="text" name="title" value="{{bean.title}}" class="form-control" id="inputEmail3" placeholder="{{__('title')}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">{{__('price')}}</label>
    <div class="col-sm-8">
      <input type="text" name="price" value="{{bean.price}}" class="form-control" placeholder="{{__('price')}}">
    </div>
    <div class="col-sm-2">
       <p class="form-control-static">{{__('unit dollor')}}</p>
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('material')}}</label>
    <div class="col-sm-10">
      <input type="text" name="material" value="{{bean.material}}" class="form-control" placeholder="{{__('material')}}">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('image')}}</label>
    <div class="col-sm-10">
        <div class="imgs">
          {% for e in bean.imgs %}
          <div>
          <img src="{{img_domain}}{{e}}!300x300" class="img-thumbnail"/>
          <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
          <input type="hidden" name="img" value="{{e}}"/>
           </div>
         {% endfor %}

        </div>
        <div class="fileselect">
           <label for="file" class="glyphicon glyphicon-plus"></label>
         <input type="file" name="upload" id="file" class="hidden">
        </div>
    </div>
  </div>
   <input type="hidden" name="imgs">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{{__('save')}}</button>
    </div>
  </div>
</form>

{% endblock %}

{% block foot %}

 <script src="/js/ajaxfileupload.js"></script>
<script>
var valid_en={  
    title: {
      required: "Please provide title",
      maxlength: "title can not more than 100 characters long"
    },
    price: "Please enter a valid price"
  }
var valid_zh={
    
    title: {
      required: "请输入标题",
      maxlength: "标题最长100个字符"
    },
    price: "请输入正确的价格"
  }  
var messages=valid_en;

if($.cookie("locale")=="zh-CH"){
  messages=valid_zh;
}

$("form").validate({
  rules: {
    title: {
      required: true,
      maxlength: 100
    },
    price: {
      required: true
    }
  },
  messages: messages,
  errorElement: "em"

});

var imgCount=$(".imgs input").length;
if(imgCount>=10){
  $(".fileselect").hide();
}
$("#file").on("change",function(){
    console.log("change")


    $.ajaxFileUpload({
      url: '/file',
      secureuri: false,
      fileElementId:"file",
      data: {                    
          'name': 'carlcarl',
      },
      dataType:"json",
      success:function(json, status ){
        // console.log("success",json, status )
        setTimeout(function(){

           $(".imgs").append('<div><img src="'+json.url+'!300x300" class="img-thumbnail"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i>'+
            '<input type="hidden" name="img" value="'+json.path+'"></div>')
            // console.log(json);
            imgCount++;
            if(imgCount>=10){
              $(".fileselect").hide();
          }

        },1000)
        
      }
    });

  })
$(".imgs").on("click",".glyphicon-trash",function(){
  $(this).parent("div").remove();
});

$("form").on('submit',function(e){

    var $this=$(this);
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
  
    var imgs=[];
    $("input[name=img]").each(function(){
      imgs.push(this.value);
    })

     $this.find("input[name=imgs]").val(imgs.join(","));
    var data=$this.serialize();

    $.ajax({
        type: method,
        url: "/api/product",
        data:data,
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
            	$("input[name=id]").val(json.id);
              YY.dialog({content:json.code}).alert();
            	// location.href="/product";
            }else{
            	// location.reload();
            }
        }
    });

    return false;
});



</script>  
{% endblock %}