{% extends '../base.html' %}

{% block head %}
<style type="text/css">
#uploadForm{
  display: none;
}
.imgs div.img{
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
</style>
{% endblock %}

{% block main %}
<h3>{__('product')}}</h3>
<form class="form-horizontal">
<input type="hidden" name="id" value="{{bean.id}}">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">{{__('style')}}</label>
    <div class="col-sm-10">
      <input type="text" name="title" value="{{bean.title}}" required  class="form-control" id="inputEmail3" placeholder="{{__('style')}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">{{__('price')}}</label>
    <div class="col-sm-8">
      <input type="text" name="price" value="{{bean.price}}" required  class="form-control" placeholder="{{__('price')}}">
    </div>
    <div class="col-sm-2">
       <p class="form-control-static">{{__('unit dollor')}}</p>
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('material')}}</label>
    <div class="col-sm-10">
      <input type="text" name="material" value="{{bean.material}}" required  class="form-control" placeholder="{{__('material')}}">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('image')}}</label>
    <div class="col-sm-10">
        <div class="fileselect">
            <label for="uploadfile" class="glyphicon glyphicon-plus" id="browse"></label>
         </div>
        <div class="imgs">
          <!-- <div>100%</div> -->
          {% for e in list %}
          <div>
            <div class="img">
              <img src="{{img_domain}}{{e.img}}!300x300" class="img-thumbnail"/>
              <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
              <input type="hidden" name="img" value="{{e.img}}"/>
            </div>
            <input type="text" class="form-control" name="imgdesc" value="{{e.content}}" placeholder="">
           </div>
         {% endfor %}
        </div>
        <div class="imgtip" style="display:none;">the image can not be empty</div>
    </div>
  </div>
   <input type="hidden" name="imgs">
   <input type="hidden" name="imgdescs">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{{__('save')}}</button>
    </div>
  </div>
</form>


<!-- <form id="uploadForm" action="/file" method="post" target="formiframe" enctype="multipart/form-data">
  <input type="file" name="upload" id="uploadfile">
</form> -->

{% endblock %}

{% block foot %}
 <script src="/js/upload.js"></script>
 <script src="/pupload/plupload.full.min.js"></script>

<script>

var html='<img src="__url" class="img-thumbnail"/>'+
'<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>'+
'<input type="hidden" name="img" value="__path"/>';
var uploader = new plupload.Uploader({ //实例化一个plupload上传对象
		browse_button : 'browse',
    url : '/file',
    file_data_name:"upload",
		flash_swf_url : 'pupload/upload/Moxie.swf',
    silverlight_xap_url : 'pupload/upload/Moxie.xap',
    init : {
      FileUploaded:function(up,file,result){
        var json = JSON.parse(result.response);
        setTimeout(function(){
          $('#'+file.id+" .img").html(html.replace("__url",json.url).replace("__path",json.path));
        },2000)
        
      }
    }
	});
	uploader.init(); //初始化

	//绑定文件添加进队列事件
	uploader.bind('FilesAdded',function(uploader,files){
    for(var i = 0, len = files.length; i<len; i++){
        var file=files[i];
        if(file.origSize>2012340){
          alert("image can not larger than 2M");
          return ;
        }
        var imglen = $(".imgs img").length;
        if(imglen+len>30){
          alert("images can not more than 30 ");
          return ;
        }
        // origSize:4507297
        var imgHtml = '<div id="'+file.id+'"><div class="img">0%</div><input type="text" class="form-control" name="imgdesc"></div>';
        $(".imgs").append(imgHtml);
    }
    uploader.start();
  
  });
  //绑定文件上传进度事件
	uploader.bind('UploadProgress',function(uploader,file){
		$('#'+file.id+" .img").text(file.percent + '%');//控制进度条
  });
  
var valid_en={  
    title: {
      required: "Please provide title",
      maxlength: "title can not more than 100 characters long"
    },
    price: "Please enter a valid price"
  }
var valid_zh={
    
    title: {
      required: "请输入标题",
      maxlength: "标题最长100个字符"
    },
    price: "请输入正确的价格"
  }  
var messages=valid_en;

if($.cookie("locale")=="zh-CH"){
  messages=valid_zh;
}

$("form.form-horizontal").validate({
  rules: {
    title: {
      required: true,
      maxlength: 100
    },
    price: {
      required: true
    }
  },
  messages: messages,
  errorElement: "em"

});

var imgCount=$(".imgs input").length;
if(imgCount>=10){
  $(".fileselect").hide();
}

  // $.upload({
  //   fileElementId:"uploadfile",
  //   callback:function(json){
  //      setTimeout(function(){

  //          $(".imgs").append('<div><img src="'+json.url+'!300x300" class="img-thumbnail"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i>'+
  //           '<input type="hidden" name="img" value="'+json.path+'"></div>')
  //           // console.log(json);
  //           imgCount++;
  //           if(imgCount>=10){
  //             $(".fileselect").hide();
  //         }

  //       },1000)
  //   }
  // })

$(".imgs").on("click",".glyphicon-trash",function(){
  $(this).parent(".img").parent().remove();
});

$("form.form-horizontal").on('submit',function(e){

    var $this=$(this);
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
  
    var imgs=[];
    $("input[name=img]").each(function(){
      imgs.push(this.value);
    })
    if(!imgs.length){
        alert("image can not be empty");
        return false;
    }

    var imgdesc=[];
    $("input[name=imgdesc]").each(function(){
      imgdesc.push(this.value);
    })

     $this.find("input[name=imgs]").val(imgs.join(","));
     $this.find("input[name=imgdescs]").val(imgdesc.join("_@_"));
    var data=$this.serialize();

    $.ajax({
        type: method,
        url: "/api/product",
        data:data,
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
            	$("input[name=id]").val(json.id);
              YY.dialog({content:json.code,callback:function(){
                location.href="/product";
              }}).alert();
            }else{
              YY.dialog({content:json.code}).alert();
            }
        }
    });

    return false;
});
</script>  
{% endblock %}