{% extends '../base.html' %}

{% block head %}
<style type="text/css">
.glyphicon-picture{
  font-size: 70px;
  color: #777;
}
</style>
{% endblock %}

{% block main %}
<h1>{{__('product info')}}</h1> <a href="/product/add">{{__('add')}}</a>

  {% for e in result.rows %}
  <div class="media">
    <div class="media-left">
       <a href="/product/{{e.id}}">
       
      {% if not e.default_img %}
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      {% endif %}
      {% if  e.default_img  %}
        <img src="/{{e.default_img }}" alt="" class="img-rounded">
      {% endif %}
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="/product/{{e.id}}">{{e.title}}</a>
      </h4>
      <p>{{__('material')}}:{{e.material}}</p>
      <p>{{__('price')}}:{{e.price}}</p>
    </div>
    <div class="media-right">
    	<a href="/product/add?id={{e.id}}">{{__('edit')}}</a><a href="#">{{__('delete')}}</a>
    </div>
  </div>
   {% endfor %}



<nav aria-label="Page navigation">
  <ul class="pagination">
  {{page}}
  </ul>
</nav>
{% endblock %}

{% block foot %}
<script>

</script>  
{% endblock %}
