{% extends '../base.html' %}

{% block head %}
<style type="text/css">
.list img{
  width: 110px;
}
.glyphicon-picture{
  font-size: 70px;
  color: #777;
}

</style>
{% endblock %}

{% block main %}
<h1>{{__('product info')}}</h1> <a href="/product/add" class="btn btn-info">{{__('add')}}</a>

  {% for e in result.rows %}
  <div class="row list">
      <div class="col-xs-3 col-md-3">
          <a href="/product/{{e.id}}">
             
             {% if not e.default_img %}
              <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            {% endif %}
            {% if  e.default_img  %}
              <img src="{{img_domain}}{{e.default_img }}!300x300" alt="" class="img-thumbnail">
            {% endif %}

          </a>
      </div>
      <div class="col-xs-7 col-md-7">
        <h4 class="media-heading">
          <a href="/product/{{e.id}}">{{e.title}}</a>
        </h4>
        <p>{{__('material')}}:{{e.material}}</p>
        <p>{{__('price')}}:{{e.price}}</p>
      </div>
      <div class="col-xs-2 col-md-2">
        <a href="/product/add?id={{e.id}}" class="btn btn-info">{{__('edit')}}</a> <a href="#" data-id="{{e.id}}"  class="btn btn-danger del">{{__('delete')}}</a>
      </div>
  </div>
   {% endfor %}
<nav aria-label="Page navigation">
  <ul class="pagination">
  {{page.html}}
  </ul>
</nav>
{% endblock %}

{% block foot %}
<script>
$(".del").click(function(){
  var id=$(this).data("id");
  $.ajax({
      type: "DELETE",
      url: "/api/product/"+id,
      dataType:"json",
      success:function(json){
          if(json.code="success"){
              location.reload();
          }
      }
  });
})
</script>  
{% endblock %}
