{% extends '../base.html' %}

{% block head %}

</style>
{% endblock %}

{% block main %}
<form class="form-horizontal">
    <input name="id" type="hidden" value="{{bean.id}}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('company name')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="name" required  placeholder="{{__('company name')}}" type="text" value="{{bean.name}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('company english name')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="ename" required  placeholder="{{__('company english name')}}" type="text" value="{{bean.ename}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('offical website')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="offical_website" required  placeholder="{{__('offical website')}}" type="url" value="{{bean.offical_website}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('china office')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="china_office"   placeholder="{{__('china office')}}" type="text" value="{{bean.china_office}}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('company address')}}
            </label>
            <div class="col-sm-10">
                <textarea class="form-control" name="address" required  placeholder="{{__('company address')}}">{{bean.address}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('company custom service')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="custom_service" required  placeholder="{{__('company custom service')}}" type="text" value="{{bean.custom_service}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('company position')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="position" required  placeholder="{{__('company position')}}" type="text" value="{{bean.position}}">
                </input>
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('contact phone')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="contact_phone" required  placeholder="{{__('contact phone')}}" type="text" value="{{bean.contact_phone}}">
                </input>
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('company phone')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="phone"  required placeholder="{{__('company phone')}}" type="text" value="{{bean.phone}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('company email')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="email" required  placeholder="{{__('company email')}}" type="email" value="{{bean.email}}" maxlength="50">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('build time')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="build_time2" required  placeholder="YYYY" type="text" value="{{bean.build_time|formatdate("YYYY")}}">
                </input>
            </div>
        </div>
        {% for e in bean.brand %}
        <div class="form-group {% if loop.last %}brand{% endif %}">
            <label class="col-sm-2 control-label">
                {{__('cooperation brand')}}
            </label>
            <div class="col-sm-8">
                <input class="form-control" name="brand" required  placeholder="{{__('cooperation brand')}}" type="text" value="{{e}}">
                </input>
            </div>
            <div class="col-sm-2">
                {% if not loop.first %}
                <button class="btn btn-danger">{{__('delete')}}</button>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="form-group brand">
            <label class="col-sm-2 control-label">
                {{__('cooperation brand')}}
            </label>
            <div class="col-sm-8">
                <input class="form-control" name="brand" required  placeholder="{{__('cooperation brand')}}" type="text" value="">
                </input>
            </div>
            <div class="col-sm-2">
                {% if not loop.first %}
                <button class="btn btn-danger">{{__('delete')}}</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="javascript:void(0);" class="btn btn-default addC">{{__('add')}}</a>
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('count of shop')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="count_shop" required  placeholder="{{__('count of shop')}}" type="number" value="{{bean.count_shop}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('sale per year')}}
            </label>
            <div class="col-sm-5">
                <input class="form-control" name="sale_per_year" required  placeholder="{{__('sale per year')}}" type="number" value="{{bean.sale_per_year}}">
                </input>
            </div>
            <div class="col-sm-5">
                <p class="form-control-static">{{__('unit money')}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('firsthand')}}
            </label>
            <div class="col-sm-10">
                <!-- <input class="form-control" name="firsthand" placeholder="{{__('firsthand')}}" type="text" value="{{bean.firsthand}}">
                </input> -->
                
              <label class="radio-inline">
                <input type="radio" name="firsthand" value="1" {% if bean.firsthand==1 %}checked{% endif%}> 是
              </label>
              <label class="radio-inline">
                <input type="radio" name="firsthand" value="0" {% if bean.firsthand==0 %}checked{% endif%}> 否
              </label>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('payment days')}}
            </label>
            <div class="col-sm-10">
            <input class="form-control" name="payment_days" required  placeholder="{{__('payment days')}}" type="text" value="{{bean.payment_days}}"></input>
               
            </div>
        </div>
         
        <input type="hidden" name="build_time">
        <input type="hidden" name="brands">
       
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">
                    {{__('confirm')}}
                </button>
            </div>
        </div>
    

</form>

{% endblock %}

{% block foot %}
<script type="text/javascript" src="/js/city.js"></script>

<script>
   
    var valid_en={  
    name: {
      required: "Please provide name",
      maxlength: "name can not more than 100 characters long"
    },
    ename: {
      required: "Please provide ename",
      maxlength: "ename can not more than 100 characters long"
    },
    price: "Please enter a valid price"
  }
// var valid_zh={
    
//     name: {
//       required: "请输入标题",
//       maxlength: "标题最长100个字符"
//     },
//     ename: {
//       required: "请输入英文标题",
//       maxlength: "英文标题最长100个字符"
//     },
//     price: "请输入正确的价格"
//   }  
var messages=valid_en;

// if($.cookie("locale")=="zh-CH"){
//   messages=valid_zh;
// }

//删除
$(".btn-danger").click(function(){
  $(this).parents(".form-group").remove();
  return false;
});

jQuery.validator.addMethod("phone", function(value,element) {
    var length = value.length;
    var mobile = (length==11&&!isNaN(value));
    var tel = /^\d{3,4}-?\d{7,9}$/;
    console.log(mobile)
    return this.optional(element) || (tel.test(value) || mobile);

}, "please input a correct phone number");

$("form").validate({
  rules: {
    title: {
      required: true,
      maxlength: 100
    },
    email: {  
        required: true,  
        email: true  
    },
    offical_website:{
        required: true,  
        url: true  
    },
    contact_phone:{
        required: true,  
        phone: true  
    },
    phone:{
        required: true,  
        phone: true  
    },
    build_time2:{
        required: true,  
        range:[1800,3000]
    },
    count_shop:{
        required: true,  
        range:[0,9999999999]
    },
    sale_per_year:{
        required: true,  
        range:[0,9999999999]
    },
    payment_days:{
        required: true,  
        range:[0,9999999999]
    }
  },
  messages: messages,
  errorElement: "em"
});

$(".addC").click(function(){
  var temp=$(".brand");
  var clone=temp.clone();
  temp.after(clone);
  temp.removeClass("brand")
  clone.find("input").val("");
});


$("form").on('submit',function(e){

     var $this=$(this);
     if(!$this.valid()){
         return false;
     }
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
    var build_time2=$this.find("input[name=build_time2]").val();
    var build_time=Date.parse(build_time2)||'';
     var brands=[];
    $("input[name=brand]").each(function(){
      brands.push($(this).val());
    })
   

    $this.find("input[name=build_time]").val(build_time);
    $this.find("input[name=brands]").val(brands.join(","));
    var data=$this.serialize();
    $.ajax({
        type: method,
        url: "/api/seller",
        data:data,
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
              $("input[name=id]").val(json.id);
              YY.dialog({content:json.code}).alert();
            }else{
              // location.reload();
            }
        }
    });

    return false;
});
</script>
{% endblock %}
