{% extends '../base.html' %}

{% block head %}
<style>
    .expbtn{
        margin-top:10px;
    }
</style>
{% endblock %}

{% block main %}
<form class="form-horizontal">
    <input name="id" type="hidden" value="{{bean.id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Name')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="name"   placeholder="{{__('Name')}}" type="text" value="{{bean.name}}" maxlength="20">
                </input>
            </div>
        </div>
       <!-- <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('age')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="age"   placeholder="{{__('age')}}" type="number" value="{{bean.age}}">
                </input>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Gender')}}
            </label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" value="1" name="gender"  {% if bean.gender==1 %}checked="true"{% endif %}>
                    {{__('male')}}
                    </input>
                </label>
                <label class="radio-inline">
                    <input type="radio" value="0"  name="gender"  {% if bean.gender==0 %}checked="true"{% endif %}>
                    {{__('female')}}
                    </input>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('email')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="email"   placeholder="{{__('email')}}" type="text" value="{{bean.email}}" maxlength="20">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('phone')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="phone"   placeholder="电话" type="text" value="{{bean.phone}}" maxlength="20">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Location')}}
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="area"   placeholder="{{__('Location')}}"  maxlength="100" value="{{bean.area}}"/>
            </div>

        </div>
        <!--<div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('age')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="age" required  placeholder="{{__('age')}}" type="number" value="{{bean.age}}">
                </input>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('location')}}
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="area" required  placeholder="{{__('location')}}"  maxlength="100" value="{{bean.area}}"/>
            </div>

        </div>
        -->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Working Way')}}
            </label>
            <div class="col-sm-10">
              <select class="form-control" name="status"  required >
                <option value="fulltime"  {% if bean.status=='fulltime' %}selected{% endif %}>{{__('fulltime')}}</option>
                <option value="parttime" {% if bean.status=='parttime' %}selected{% endif %}>{{__('parttime')}}</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Specialities/Skills')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="major" required  placeholder="{{__('Specialities/Skills')}}" type="text" value="{{bean.major}}"  maxlength="100">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Personal Summary')}}
            </label>
            <div class="col-sm-10">
                <textarea class="form-control" name="summary" required  placeholder="例如 毕业院校，工作经历，曾参与开发的品牌，曾获荣誉"  maxlength="1000">{{bean.summary}}</textarea>
            </div>
        </div>
        <!--
        {% for e in exps %}
        <div class="form-group  {% if loop.first %}experience{% endif %}">
            <div class="col-sm-2 control-label">
                {{__('work experience')}}
                <div class="expbtn">
                <a href="javascript:void(0);" class="btn btn-primary saveexp">{{__('save')}}</a>
                </div>
                
                <div  class="expbtn  {% if loop.first %} hidden {% endif%}">
                <a href="javascript:void(0);" class="btn btn-danger delexp">{{__('delete')}}</a>
                </div>
               
            </div>
            <div class="col-sm-10">
                <input type="hidden" name="expid" value="{{e.id}}">
                <textarea rows="7" class="form-control" name="work_experience"   placeholder="{{__('work experience')}}"  maxlength="1000">{{e.experience}}</textarea>
            </div>
        </div>
         {% else %}
         <!-- 没有工作经验 -->
        <!--
        <div class="form-group experience">
            <label class="col-sm-2 control-label">
                {{__('work experience')}}
                <div class="expbtn">
                    <a href="javascript:void(0);" class="btn btn-default saveexp">{{__('save')}}</a>
                </div>
                <div class="expbtn hidden">
                    <a href="javascript:void(0);" class="btn btn-danger delexp">{{__('delete')}}</a>
                </div>
            </label>
            <div class="col-sm-10">
                <input type="hidden" name="expid" value="">
               <textarea rows="7" class="form-control" name="work_experience"   placeholder="{{__('work experience')}}"  maxlength="1000"></textarea>
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="javascript:void(0);" class="btn btn-default addC">{{__('add')}}</a>
          </div>
        </div>
        -->
        <!-- <input type="hidden" name="area"> -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">
                    {{__('confirm')}}
                </button>
            </div>
        </div>
    </input>
</form>
{% endblock %}

{% block foot %}
<script type="text/javascript" src="/js/city.js">
</script>
<script>
// var city=$(".city").city();  
    var valid_en={  
    name: {
      required: "Please provide name",
      maxlength: "name can not more than 100 characters long"
    },
    ename: {
      required: "Please provide ename",
      maxlength: "ename can not more than 100 characters long"
    },
    price: "Please enter a valid price"
  }
var valid_zh={
    
    name: {
      required: "请输入标题",
      maxlength: "标题最长100个字符"
    },
    ename: {
      required: "请输入英文标题",
      maxlength: "英文标题最长100个字符"
    },
    price: "请输入正确的价格"
  }  
var messages=valid_en;

if($.cookie("locale")=="zh-CH"){
  messages=valid_zh;
}

jQuery.validator.addMethod("phone", function(value,element) {
    var length = value.length;
    var mobile = (length==11&&!isNaN(value));
    var tel = /^\d{3,4}-?\d{7,9}$/;
    console.log(mobile)
    return this.optional(element) || (tel.test(value) || mobile);

}, "please input a correct phone number");

$("form").validate({
  rules: {
    title: {
      required: false,
      maxlength: 100
    },
    email: {  
        required: false,  
        email: true  
    },
    offical_website:{
        required: false,  
        url: true  
    },
    contact_phone:{
        required: false
    },
    phone:{
        required: false
    },
    build_time2:{
        required: false,  
        range:[1800,3000]
    },
    count_shop:{
        required: false,  
        range:[0,9999999999]
    },
    sale_per_year:{
        required: false,  
        range:[0,9999999999]
    },
    age:{
        required: false,  
        range:[0,200]
    }
  },
  messages: messages,
  errorElement: "em"
});
//copy experience
$(".addC").click(function(){
  var group =$(this).parents(".form-group");
  var temp=$(".experience");
  var clone=temp.clone();
  group.before(clone);
  temp.removeClass("experience")
  clone.find("input").val("");
  clone.find(".expbtn").removeClass("hidden");
  clone.find("textarea").val("");
});
//删除工作经验
$("form").on('click',".delexp",function(){
    var group=$(this).parents(".form-group");
     var $input=group.find("input[name=expid]");
     var expid = $input.val();
     if(!expid){
         return ;
     }
     $.ajax({
        type: "delete",
        url: "/api/designexp",
        data:{
            expid:expid
        },
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
                group.remove();
            }else{
                // location.reload();
            }
        }
    });
})

//保存工作经验
$("form").on('click','.saveexp',function(){
    var $input=$(this).parents(".form-group").find("input[name=expid]");
    var experience=$(this).parents(".form-group").find("[name=work_experience]").val();
    var design_id=$("input[name=id]").val();
    var expid = $input.val();
    var method=expid?"PUT":"POST";
    
    designSave($("form")[0],function(data){
        $.ajax({
            type: method,
            url: "/api/designexp",
            data:{
                expid:expid,
                design_id:data.id,
                experience:experience
            },
            dataType:"json",
            success:function(json){
                if(json.code=='success'){
                    $input.val(json.expid);
                }else{
                    // location.reload();
                }
            }
        });
    });

    
})
//保存
var designSave=function(form,callback){
    var $this=$(form);
    if(!$this.valid()){
       return false;
     }
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";

    // var area=[];
    // $(".city select").each(function(){
    //   area.push(this.value);
    // });
   
    //  $this.find("input[name=area]").val("_"+area.join("_")+"_");
     var data=$this.serialize();
    $.ajax({
        type: method,
        url: "/api/design",
        data:data,
      dataType:"json",
      success:function(json){
          if(json.code=='success'){
            $("input[name=id]").val(json.id);
            callback&&callback(json);
            
          }else{
            // location.reload();
          }
      }
    });
}
$("form").on('submit',function(e){
    designSave(this,function(json){
        YY.dialog({content:json.code}).alert();
    })
    return false;
});

</script>
{% endblock %}
