{% extends '../base.html' %}

{% block head %}


{% endblock %}

{% block main %}
<form class="form-horizontal">
    <input name="id" type="hidden" value="{{bean.id}}"/>
        <!--
		<div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('company name')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="name"   placeholder="{{__('company name')}}" type="text" value="{{bean.name}}">
                </input>
            </div>
        </div>
		-->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Company Name')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="ename" placeholder="{{__('Company Name')}}" type="text" value="{{bean.ename}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Offical Website')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="offical_website"   placeholder="{{__('Offical Website')}}" type="text" value="{{bean.offical_website}}"/>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Established In')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="build_time2"   placeholder="YYYY" type="text" value="{{bean.build_time|formatdate("YYYY")}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Address')}}
            </label>
            <div class="col-sm-10">
                <textarea class="form-control" name="address"   placeholder="{{__('Address')}}">{{bean.address}}</textarea>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Company Phone')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="phone"   placeholder="{{__('Company Phone')}}" type="text" value="{{bean.phone}}">
                </input>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Contacter')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="custom_service"   placeholder="{{__('Contacter')}}" type="text" value="{{bean.custom_service}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Position')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="position"   placeholder="{{__('Position')}}" type="text" value="{{bean.position}}">
                </input>
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Contact Number')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="contact_phone"   placeholder="{{__('Contact Number')}}" type="text" value="{{bean.contact_phone}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Email')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="email"   placeholder="{{__('Email')}}" type="email" value="{{bean.email}}" maxlength="50">
                </input>
            </div>
        </div>
        
        {% for e in bean.brand %}
        <div class="form-group {% if loop.last %}brand{% endif %}">
            <label class="col-sm-2 control-label">
                {{__('Cooperative Brands')}}
            </label>
            <div class="col-sm-8">
                <input class="form-control" name="brand"   placeholder="{{__('Cooperative Brands')}}" type="text" value="{{e}}">
                </input>
            </div>
            <div class="col-sm-2">
                {% if not loop.first %}
                <button class="btn btn-danger">{{__('delete')}}</button>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="form-group brand">
            <label class="col-sm-2 control-label">
                {{__('Cooperative Brands')}}
            </label>
            <div class="col-sm-8">
                <input class="form-control" name="brand"   placeholder="{{__('Cooperative Brands')}}" type="text" value="">
                </input>
            </div>
            <div class="col-sm-2">
                {% if not loop.first %}
                <button class="btn btn-danger">{{__('delete')}}</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="javascript:void(0);" class="btn btn-default addC">{{__('add')}}</a>
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('count of shop')}}
            </label>
            <div class="col-sm-5">
                <input class="form-control" name="count_shop"   placeholder="How many stores?" type="number" value="{{bean.count_shop}}">
                </input>
            </div>
            <!--<div class="col-sm-5">
                <p class="form-control-static">{{__('unit shop')}}</p>
            </div>-->
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Annual Procurement')}}
            </label>
            <div class="col-sm-5">
                <input class="form-control" name="sale_per_year"   placeholder="$" type="number" value="{{bean.sale_per_year}}">
                </input>
            </div>
            <!--
            <div class="col-sm-5">
                <p class="form-control-static">{{__('unit money')}}</p>
            </div>-->
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Direct Purchase')}}
            </label>
            <div class="col-sm-10">
                <!-- <input class="form-control" name="firsthand" placeholder="{{__('firsthand')}}" type="text" value="{{bean.firsthand}}">
                </input> -->
                
              <label class="radio-inline">
                <input type="radio" name="firsthand" value="1" {% if bean.firsthand==1 %}checked{% endif%}> YES
              </label>
              <label class="radio-inline">
                <input type="radio" name="firsthand" value="0" {% if bean.firsthand==0 %}checked{% endif%}> NO
              </label>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('Payment Term')}}
            </label>
            <div class="col-sm-5">
            <input class="form-control" name="payment_days"   placeholder="{{__('Payment Term')}}" type="text" value="{{bean.payment_days}}"></input>
            </div>
            <div class="col-sm-5">
                <p class="form-control-static">{{__('unit day')}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('China Office')}}
            </label>

            <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="china" value="1" {% if bean.china==1 %}checked{% endif%}> YES
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="china" value="0" {% if bean.china==0 %}checked{% endif%}> NO
                    </label>
            </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label">
                    
                </label>
    
                <div class="col-sm-10">
                    <div class="input-group">
                        <input class="form-control" name="china_office"   placeholder="{{__('China Office')}}" type="text" value="{{bean.china_office}}"/>
                      </div><!-- /input-group -->
                </div>
            </div>
        <input type="hidden" name="build_time">
        <input type="hidden" name="brands">
       
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">
                    {{__('confirm')}}
                </button>
            </div>
        </div>
    

</form>

{% endblock %}

{% block foot %}
<script type="text/javascript" src="/js/city.js"></script>

<script>
    var chinaOffice=$("input[name=china_office]");
    var chinaBox=$("input[name=china]");
    if(chinaOffice.val()){
        chinaBox.prop("checked","checked");
    }
    chinaBox.change(function(){
        var val=$(this).val()*1;
        
        if(val){
            chinaOffice.removeAttr("readonly");
        }else{
            chinaOffice.val("");
            chinaOffice.attr("readonly","readonly");
        }
   });

    var valid_en={  
    name: {
      required: "Please provide name",
      maxlength: "name can not more than 100 characters long"
    },
    ename: {
      required: "Please provide ename",
      maxlength: "ename can not more than 100 characters long"
    },
    price: "Please enter a valid price"
  }
// var valid_zh={
    
//     name: {
//       required: "请输入标题",
//       maxlength: "标题最长100个字符"
//     },
//     ename: {
//       required: "请输入英文标题",
//       maxlength: "英文标题最长100个字符"
//     },
//     price: "请输入正确的价格"
//   }  
var messages=valid_en;

// if($.cookie("locale")=="zh-CH"){
//   messages=valid_zh;
// }

//删除
$(".btn-danger").click(function(){
  $(this).parents(".form-group").remove();
  return false;
});

// jQuery.validator.addMethod("phone", function(value,element) {
//     var length = value.length;
//     var mobile = (length==11&&!isNaN(value));
//     var tel = /^\d{3,4}-?\d{7,9}$/;
//     console.log(mobile)
//     return this.optional(element) || (tel.test(value) || mobile);

// }, "please input a correct phone number");

$("form").validate({
  rules: {
    title: {
      required: false,
      maxlength: 100
    },
    email: {  
        required: false,  
        email: true  
    },
    offical_website:{
        required: false
    },
    contact_phone:{
        required: false
    },
    phone:{
        required: false
    },
    build_time2:{
        required: false,  
        range:[1800,3000]
    },
    count_shop:{
        required: false,  
        range:[0,9999999999]
    },
    sale_per_year:{
        required: false,  
        range:[0,9999999999]
    },
    payment_days:{
        required: false,  
        range:[0,9999999999]
    }
  },
  messages: messages,
  errorElement: "em"
});

$(".addC").click(function(){
  var temp=$(".brand");
  var clone=temp.clone();
  temp.after(clone);
  temp.removeClass("brand")
  clone.find("input").val("");
});


$("form").on('submit',function(e){

     var $this=$(this);
     if(!$this.valid()){
         return false;
     }
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
    var build_time2=$this.find("input[name=build_time2]").val();
    var build_time=Date.parse(build_time2)||'';
     var brands=[];
    $("input[name=brand]").each(function(){
      brands.push($(this).val());
    })
   

    $this.find("input[name=build_time]").val(build_time);
    $this.find("input[name=brands]").val(brands.join(","));
    var data=$this.serialize();
    $.ajax({
        type: method,
        url: "/api/seller",
        data:data,
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
              $("input[name=id]").val(json.id);
              YY.dialog({content:json.code}).alert();
            }else{
              // location.reload();
            }
        }
    });

    return false;
});
</script>
{% endblock %}
