{% extends '../base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<form class="form-horizontal">
<input type="hidden" name="id" value="{{bean.id}}"/>
  <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('Company Name')}}</label>
    <div class="col-sm-10">
      <input type="text" name="name" value="{{bean.name}}" class="form-control" placeholder="{{__('Company Name')}}" maxlength="100">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('Company English Name')}}</label>
    <div class="col-sm-10">
      <input type="text" name="ename" value="{{bean.ename}}" class="form-control" placeholder="{{__('Company English Name')}}" maxlength="100">
    </div>
  </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">{{__('Address')}}</label>
        <div class="col-xs-2 col-sm-2"><input class="form-control" name="city"   placeholder="{{__('City')}}" maxlength="100" value="{{bean.city}}"></div>
        <div class="col-xs-2 col-sm-2"><input class="form-control" name="nation"   placeholder="{{__('Nation')}}" maxlength="100" value="{{bean.nation}}"></div>
        <div class="col-sm-6">
            <textarea name="address"  class="form-control" placeholder="{{__('Address')}}" maxlength="200" >{{bean.address}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">Address English</label>
        <div class="col-xs-2 col-sm-2"><input class="form-control" name="en_city"   placeholder="City" maxlength="100" value="{{bean.en_city}}"></div>
        <div class="col-xs-2 col-sm-2"><input class="form-control" name="en_nation"   placeholder="Nation" maxlength="100" value="{{bean.en_nation}}"></div>
        <div class="col-sm-6">
            <textarea name="en_address"  class="form-control" placeholder="Address" maxlength="200" >{{bean.en_address}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label  class="col-sm-2 control-label">{{__('Company Phone')}}</label>
        <div class="col-sm-10">
            <input type="text" name="phone" value="{{bean.phone}}" required  class="form-control" placeholder="{{__('Company Phone')}}" maxlength="100">
        </div>
    </div>
   <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('Established In')}}</label>
    <div class="col-sm-10">
      <input type="text" name="build_time2" value="{{bean.build_time|formatdate('YYYY')}}" class="form-control" placeholder="YYYY" >
    </div>
  </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">{{__('Ower Name')}}</label>
        <div class="col-sm-10">
            <input type="text" name="legal_person" value="{{bean.legal_person}}" class="form-control" placeholder="{{__('Ower Name')}}" maxlength="20" required/>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">Cellphone(电话)</label>
        <div class="col-sm-10">
            <input type="text" name="cellphone" value="{{bean.cellphone}}" class="form-control" placeholder="Cellphone" maxlength="20" required/>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
            <input type="text" name="email" value="{{bean.email}}" class="form-control" placeholder="{{__('email')}}" maxlength="50" required/>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">贸易主管Sales Manager</label>
        <div class="col-sm-10">
            <input type="text" name="sale_manager" value="{{bean.sale_manager}}" class="form-control" placeholder="贸易主管Sales Manager" maxlength="20" required/>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">{{__('phone')}}</label>
        <div class="col-sm-10">
            <input type="text" name="sale_manager_phone" value="{{bean.sale_manager_phone}}" class="form-control" placeholder="{{__('phone')}}" maxlength="20" required/>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">{{__('email')}}</label>
        <div class="col-sm-10">
            <input type="text" name="sale_manager_email" value="{{bean.sale_manager_email}}" class="form-control" placeholder="{{__('email')}}" maxlength="50" required/>
        </div>
    </div>

<!--
  <div class="form-group" style="display: none">
      <label class="col-sm-2 control-label">
          {{__('city')}}
      </label>
      <div class="col-sm-10">

      </div>
  </div>
  <div class="form-group" style="display: none;">
      <label class="col-sm-2 control-label">
          {{__('nation')}}
      </label>
      <div class="col-sm-10">
      </div>
  </div>


   <div class="form-group" >
    <label  class="col-sm-2 control-label">{{__('company custom service')}}</label>
    <div class="col-sm-10">
      <input type="text" name="custom_service" value="{{bean.custom_service}}" required class="form-control" placeholder="{{__('company custom service')}}" maxlength="20">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('company email')}}</label>
    <div class="col-sm-10">
      <input type="text" name="email"  value="{{bean.email}}" required class="form-control" placeholder="{{__('company email')}}" maxlength="50">
    </div>
  </div>
  -->
  <div class="form-group">
    <label  class="col-sm-2 control-label">{{__('Company Instruction')}}</label>
    <div class="col-sm-10">
      <textarea name="content"   cols="30" rows="5"   class="form-control"  placeholder="Company Instruction" maxlength="1000" >{{bean.content}}</textarea>
      
    </div>
  </div>
  
     <input type="hidden" name="build_time">
   
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{{__('confirm')}}</button>
    </div>
  </div>
</form>
{% endblock %}

{% block foot %}
<script type="text/javascript" src="/js/city.js">
</script>
<script>
var city=$(".city").city();  

var valid_en={  
    name: {
      required: "Please provide name",
      maxlength: "name can not more than 100 characters long"
    },
    ename: {
      required: "Please provide ename",
      maxlength: "ename can not more than 100 characters long"
    }
  }
var valid_zh={
    
    name: {
      required: "请输入标题",
      maxlength: "标题最长100个字符"
    },
    ename: {
      required: "请输入英文标题",
      maxlength: "英文标题最长100个字符"
    },
    price: "请输入正确的价格"
  }  
var messages=valid_en;

if($.cookie("locale")=="zh-CH"){
  messages=valid_zh;
}

// jQuery.validator.addMethod("phone", function(value,element) {
//     var length = value.length;
//     var mobile = (length==11&&!isNaN(value));
//     var tel = /^\d{3,4}-?\d{7,9}$/;

//     return this.optional(element) || (tel.test(value) || mobile);

// }, "please input a correct phone number");

$("form").validate({
  rules: {
    title: {
      required: false,
      maxlength: 100
    },
    email: {  
        required: false,  
        email: true  
    },
    offical_website:{
        required: false,  
        url: true  
    },
    contact_phone:{
        required: false,  
        phone: true  
    },
    phone:{
        required: false
    },
    build_time2:{
        required: false,  
        range:[1800,3000]
    },
    count_shop:{
        required: false,  
        range:[0,9999999999]
    },
    sale_per_year:{
        required: false,  
        range:[0,9999999999]
    },
    payment_days:{
        required: false,  
        range:[0,9999999999]
    }
  },
  messages: messages,
  errorElement: "em"
});

$("form").on('submit',function(e){

   
    var $this=$(this);
    if(!$this.valid()){
       return false;
     }
    var id=$this.find("input[name=id]").val();
    var method=id?"PUT":"POST";
    
     var area=[];
    $(".city select").each(function(){
      area.push(this.value);
    });
    var build_time2=$this.find("input[name=build_time2]").val();
    var build_time=Date.parse(build_time2)||'';
    $this.find("input[name=build_time]").val(build_time);
    $this.find("input[name=area]").val("_"+area.join("_")+"_");
    var data=$this.serialize();
    $.ajax({
        type: method,
        url: "/api/factory",
        data:data,

        dataType:"json",
        success:function(json){
            if(json.code=='success'){
            	$("input[name=id]").val(json.id);
            	YY.dialog({content:json.code}).alert();
            }else{
            	// location.reload();
            }
        }
    });

    return false;
});
</script>  
{% endblock %}
