{% extends '../toolbar_index.html' %}

{% block head %}
<style type="text/css">
  .row{
    margin-bottom: 30px;
  }
  .img{
      width: 150px;
  }
</style>
{% endblock %}

{% block main %}
<div class="bk30"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-3" style="width: 190px;">
        <div class="allimg">
          {% if bean.head %}
           <img class="pic-link-img" src="{{img_domain}}{{bean.head}}"/>
          {% else %}
            <img class="pic-link-img" src="/images/default.png"/>
          {% endif %}
        </div>
    </div>
    <div class="col-xs-9">
      <h3>{{bean.ename}}</h3>
      <span class="talk"></span><a href="/message/{{bean.user_id}}">{{__('Send a message')}}</a>
      
    </div>
  </div>
   <div class="row">
    <div class="col-xs-6">
      <!--<p><span class="fc999 mr5">{{__('Contacter')}}:</span>{{bean.custom_service}}   {{bean.position}}</p>
      <p><span class="fc999 mr5">{{__('Contact Number')}}:</span>{{bean.phone}}</p>
      <p><span class="fc999 mr5">{{__('Company Phone')}}:</span>{{bean.company_phone}}</p>-->
      <p><span class="fc999 mr5">{{__('Offical Website')}}:</span>{{bean.offical_website}}</p>
      <!--<p><span class="fc999 mr5">{{__('Email')}}:</span>{{bean.email}}</p>-->
      <p><span class="fc999 mr5">{{__('Address')}}:</span>{{bean.address}}</p>
      <p><span class="fc999 mr5">{{__('China Office')}}:</span>{{bean.china_office}}</p>
      <p><span class="fc999 mr5">{{__('Payment Term')}}:</span>{{bean.payment_days}} {{__('Days')}}</p>
    </div>
    <div class="col-xs-6">
      <p><span class="fc999 mr5">{{__('Established In')}}:</span>{{bean.create_time|formatdate("YYYY")}}</p>
     <!--  <p>{{__('count of shop')}}:{{bean.count_shop}}</p> -->
      <p><span class="fc999 mr5">{{__('Cooperative Brands')}}:</span>{{bean.brand}}
       </p>
      <p><span class="fc999 mr5">{{__('purchase per year')}}:</span>{{bean.purchase_per_year}} {{__('USD')}}</p>
      <!-- <p>{{__('firsthand')}}:{{bean.firsthand}}</p> -->
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
  
</script>
{% endblock %}
