{% extends '../toolbar_index.html' %}

{% block head %}
<style type="text/css">
  .row{
    margin-bottom: 30px;
  }
  .img{
      width: 150px;
  }
</style>
{% endblock %}

{% block main %}
<div class="bk30"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-3" style="width: 190px;">
        <div class="allimg">
          {% if bean.head %}
           <img class="pic-link-img" src="{{img_domain}}{{bean.head}}"/>
          {% else %}
            <img class="pic-link-img" src="/images/default.png"/>
          {% endif %}
        </div>
    </div>
    <div class="col-xs-9">
      <h3>{{bean.ename}}</h3>
      <span class="talk"></span><a href="/message/{{bean.user_id}}">{{__('Send a message')}}</a>
      
    </div>
  </div>
   <div class="row">
    <div class="col-xs-6" style="margin-left: -2%;">
      <!--<p><span class="fc999 mr5">{{__('Contacter')}}:</span>{{bean.custom_service}}   {{bean.position}}</p>
      <p><span class="fc999 mr5">{{__('Contact Number')}}:</span>{{bean.phone}}</p>
      <p><span class="fc999 mr5">{{__('Company Phone')}}:</span>{{bean.company_phone}}</p>-->
        <div class="clearfix info-list"><label>{{__('Offical Website')}}:</label><span>{{bean.offical_website}}</span></div>
      <!--<p><span class="fc999 mr5">{{__('Email')}}:</span>{{bean.email}}</p>-->
        <div class="clearfix info-list"><label>{{__('Address')}}:</label><span>{{bean.address}}</span></div>
        <div class="clearfix info-list"><label>{{__('China Office')}}:</label><span>{{bean.china_office}}</span></div>
        <div class="clearfix info-list"><label>{{__('Payment Term')}}:</label><span>{{bean.payment_days}} {{__('Days')}}</span></div>
    </div>
    <div class="col-xs-6">
        <div class="clearfix info-list"><label>{{__('Established In')}}:</label><span>{{bean.create_time|formatdate("YYYY")}}</span></div>
     <!--  <p>{{__('count of shop')}}:{{bean.count_shop}}</p> -->
        <div class="clearfix info-list"><label>{{__('Cooperative Brands')}}:</label><span>{{bean.brand}}</span></div>
        <div class="clearfix info-list"><label>{{__('purchase per year')}}:</label><span>{{bean.purchase_per_year|fmoney(0)}} {{__('USD')}}</span></div>
      <!-- <p>{{__('firsthand')}}:{{bean.firsthand}}</p> -->
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
  
</script>
{% endblock %}
