{% extends '../base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<form class="form-horizontal">
  <input type="hidden" name="id" value="{{bean.id}}">

{% for e in list %}
 {{e.id}}
{% endfor %}

  
    <div class="form-group customer" >
      <label for="inputEmail3" class="col-sm-3 control-label">现合作客户名称</label>
      <div class="col-sm-9" >
        <div class="row">
          <div class="col-xs-8 col-sm-6">
            <select class="form-control" name="type">
              <option value="seller">零售商</option>
              <option value="agency">代理商</option>
            </select>
          </div>
          <div class="col-xs-4 col-sm-6">
             <input type="text" name="customer" value="" class="form-control" id="inputEmail3" placeholder="公司面积">
          </div>
        </div>
      </div>
    </div>
     <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <a href="javascript:void(0);" class="btn btn-default addC">add</a>
      </div>
    </div>
   <div class="form-group factory">
      <label for="inputEmail3" class="col-sm-3 control-label">已通过验厂</label>
      <div class="col-sm-9">
          
         <input type="text" name="factory" value="{{bean.name}}" class="form-control" id="inputEmail3" placeholder="公司面积">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <a href="#" class="btn btn-default addF">add</a>
      </div>
    </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">公司面积</label>
    <div class="col-sm-9">
      <input type="text" name="acreage" value="{{bean.acreage}}" class="form-control" id="inputEmail3" placeholder="公司面积">
    </div>
  </div>



  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">月开发款式数量</label>
    <div class="col-sm-9">
      <input type="text" name="type_per_month" value="{{bean.type_per_month}}" class="form-control" id="inputEmail3" placeholder="月开发款式数量">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">生产人数</label>
    <div class="col-sm-9">
      <input type="text" name="count_person" value="{{bean.count_person}}" class="form-control" placeholder="name">
    </div>
  </div>
  
   <div class="form-group">
    <label  class="col-sm-3 control-label">QC人数</label>
    <div class="col-sm-9">
     	<textarea name="count_qc"  class="form-control">{{bean.count_qc}}</textarea>
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-3 control-label">月生产能力</label>
    <div class="col-sm-9">
      <input type="text" name="able_per_month" value="{{bean.able_per_month}}" class="form-control" placeholder="name">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">公司特长</label>
    <div class="col-sm-9">
      <input type="text" name="major" value="{{bean.major}}"  class="form-control" placeholder="name">
    </div>
  </div>
   
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">save</button>
    </div>
  </div>
</form>
{% endblock %}

{% block foot %}
<script>
$(".addC").click(function(){
  var temp=$(".customer");
  var clone=temp.clone();
  temp.after(clone);
  temp.removeClass("customer")
  clone.find("input").val("");
});
$(".addF").click(function(){
  var temp=$(".factory");
  var clone=temp.clone();
  temp.after(clone);
  temp.removeClass("factory")
  clone.find("input").val("");
});

$("form").on('submit',function(e){

    var fd=new FormData(this);
    var method=fd.get('id')?"PUT":"POST";

    var types=["factory"];
    $("select[name=type]").each(function(){
      types.push($(this).val())
    });

    var names=[];
    names.push($("input[name=factory]").val());
    $("input[name=customer]").each(function(){
      names.push($(this).val())
    });

    console.log(types);
    console.log(names);
    $.ajax({
        type: method,
        url: "/api/companydetail",
        data:{
          id:fd.get('id'),
          types:types.join(","),
          names:names.join(","),
	        acreage:fd.get('acreage'),
	        type_per_month:fd.get('type_per_month'),
	        count_person:fd.get('count_person'),
	        count_qc:fd.get('count_qc'),
	        able_per_month:fd.get('able_per_month'),
	        major:fd.get('major')
    	},
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
            	$("input[name=id]").val(json.id);
            	alert("保存成功");
            }else{
            	// location.reload();
            }
        }
    });

    return false;
});
</script>  
{% endblock %}