{% extends '../toolbar_index.html' %}

{% block head %}
<style type="text/css">
    .row{
    margin-bottom: 30px;
  }
  .img{
      width: 150px;
  }
</style>
{% endblock %}

{% block main %}
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
      <img src="/images/default.png"/>
      <h3>
          {{bean.name}}
      </h3>
      <a>
          发站内信
      </a>
      <form class="msgform">
          <input name="receiver_id" type="hidden" value="{{bean.user_id}}">
              <textarea name="content">
              </textarea>
              <button>
                  发送
              </button>
          </input>
      </form>

  </div>
</div>

    <div>
        <p>
            {{__('company custom service')}}:{{bean.custom_service}}   {{bean.position}}
        </p>
        <p>
            {{__('company phone')}}:{{bean.phone}}
        </p>
        <p>
            {{__('offical website')}}:{{bean.offical_website}}
        </p>
        <p>
            {{__('company email')}}:{{bean.email}}
        </p>
        <p>
            {{__('company address')}}:{{bean.address}}
        </p>
        <p>
            {{__('build time')}}:{{bean.create_time|formatdate("YYYY-MM-DD")}}
        </p>
        <p>
            {{__('count of shop')}}:{{bean.count_shop}}
        </p>
        <p>
            {{__('cooperation brand')}}:{% for d in bean.brand %}{{d}} {% endfor %}
        </p>
        <p>
            {{__('sale per year')}}:{{bean.sale_per_year}}{{__('unit money')}}
        </p>
        <p>
            {{__('firsthand')}}:{{bean.firsthand}}
        </p>
        <p>
            {{__('payment days')}}:{{bean.payment_days}}{{__('unit day')}}
        </p>
    </div>

    <h3>ta的作品</h3>
    {% for e in workses.rows %}

    <div class="row list">
        <div class="col-xs-4 col-md-4 img">
            <a href="/seller/{{e.id}}">
                <img alt="" class="img-rounded" src="/images/default.png">
                </img>
            </a>
        </div>
        <div class="col-xs-8 col-md-8">
            <h4>
                <a href="/seller/{{e.id}}">
                    {{e.title}}
                </a>
            </h4>
            <p>
                材质: 混合材质
            </p>
        </div>
    </div>
        
    {% endfor %}
    <nav aria-label="Page navigation ">
        <ul class="pagination">
            {{page.html}}
        </ul>
    </nav>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
    $(".msgform").on("submit",function(){
     var fd = new FormData(this);
     $.ajax({
        type: "POST",
        url: "/api/message",
        data:{
          receiver_id:fd.get("receiver_id"),
          content:fd.get("content")
        },
        dataType:"json",
        success:function(json){
            if(json.code=='success'){
              alert(json.code);
            }
            if(json.code=='not_login'){
              alert("请先登录");
            }
        }
    });
     return false;
  });
</script>
{% endblock %}
