{% extends '../toolbar_index.html' %}

{% block head %}
<style type="text/css">
  .row{
    margin-bottom: 30px;
  }
  .img{
      width: 150px;
  }
  .proimg{
    width: 120px;
  }

</style>
{% endblock %}

{% block main %}
<div class="bk30"></div>
<div class="container mb100">
  <div class="row">
      <div class="col-xs-3" style="width: 190px;">
          <div class="allimg">
      {% if bean.head %}
       <img class="pic-link-img" src="{{img_domain}}{{bean.head}}"/>
      {% else %}
        <img class="pic-link-img" src="/images/default.png"/>
      {% endif %}
          </div>
    </div>
    <div class="col-xs-9">
      <h3>{{bean.name}}</h3>
      <span class="talk"></span><a href="/message/{{bean.user_id}}"> {{__('Send a message')}}</a>
     
    </div>
  </div>
   <div class="row">
    <div class="col-xs-6">
      <p><span class="fc999 mr5">{{__('company custom service')}}:</span>{{bean.custom_service}}   {{bean.position}}</p>
      <p><span class="fc999 mr5">{{__('company phone')}}:</span>{{bean.phone}}</p>
     <!--  <p>{{__('offical website')}}:{{bean.offical_website}}</p> -->
      <p><span class="fc999 mr5">{{__('company email')}}:</span>{{bean.email}}</p>
      <p><span class="fc999 mr5">{{__('company legal person')}}:</span>{{bean.legal_person}}</p>
      <p><span class="fc999 mr5">{{__('company address')}}:</span>{{bean.nation}}{{bean.city}}{{bean.address}}</p>
      <p><span class="fc999 mr5">{{__('company major')}}:</span>
 {% for d in bean.major %}{{__('major_'+d)}} {% endfor %}
      </p>
      <p><span class="fc999 mr5">{{__('produce per month')}}:</span>{{bean.able_per_month|fmoney(0)}} {{__('pcs')}}</p>
    </div>
    <div class="col-xs-6">
      <p><span class="fc999 mr5">{{__('build time')}}:</span>{{bean.create_time|formatdate("YYYY-MM-DD")}}</p>
      <p><span class="fc999 mr5">{{__('cooperation customer name')}}:</span>
      {% for d in customers %}
      <span class="mr5">{{d.name}} </span>
      {% endfor %}
      </p>
      <p><span class="fc999 mr5">{{__('cooperation factory name')}}:</span>
        {% for d in factorys %}
        <span class="mr5">{{d.name}} </span>
        {% endfor %}
       </p>
       <p><span class="fc999 mr5">{{__('company acreage')}}:</span>{{bean.acreage|fmoney(0)}} {{__('square meters')}}</p>
      <p><span class="fc999 mr5">{{__('type per month')}}:</span>{{bean.type_per_month|fmoney(0)}} {{__('pcs')}}</p>
      <p><span class="fc999 mr5">{{__('produce person')}}:</span>{{bean.count_person|fmoney(0)}} {{__('persons')}}</p>
      <p><span class="fc999 mr5">{{__('QC person')}}:</span>{{bean.count_qc|fmoney(0)}} {{__('persons')}}</p>

    </div>
  </div>
  <div>
    <span class="fc999 mr5">{{__('company summary')}}:</span>{{bean.content}}
  </div>

  {% if imgs %}
  <!--  公司环境 -->
  <h3 style="margin-bottom: 30px;">{{__('environment')}}</h3>
  <div class="row env">

       {% for e in imgs %}
      <div class="col-xs-4">
          <div class="row list">
              <div class="col-xs-8 col-md-8">
          <a href="/environment/{{bean.id}}">
            <img class="img-thumbnail" src="{{img_domain}}{{e.img}}!300x300" alt="">
          </a>
          <h3><a href="/environment/{{bean.id}}">{{e.content}}</a></h3>
              </div></div></div>
          {% endfor %}

  </div>
  {% endif %}

  <h3 style="margin-bottom: 30px;">{{__('product')}}</h3>
  {% for e in pros.rows %}
  
  {% if loop.index0%3==0 %}
  <div class="row">
  {% endif %}
  <div class="col-xs-4">
    <div class="row list">
        <div class="col-xs-8 col-md-8">
            <a href="/product/{{e.id}}">
                {% if e.default_img %}
                 <img class="img-thumbnail" src="{{img_domain}}{{e.default_img}}!300x300"/>
                {% else %}
                  <img class="img-thumbnail" src="/images/default.png"/>
                {% endif %}
            </a>
        </div>
        <div class="col-xs-8 col-md-8">
             <h3>
                <a href="/product/{{e.id}}">
                    {{e.title}}
                </a>
            </h3>
            <p style="font-size: 16px;font-weight: bold;color: #dc9600;">{{__('price')}}: ${{e.price|fmoney}} </p>
            <p>{{__('material')}}: {{e.material}}</p>

        </div>
    </div>
  </div>
  {% if loop.index%3==0 %}
  </div>
  {% endif %}
  {% endfor %}
  <div class="clearfix"></div>
      <nav aria-label="Page navigation ">
          <ul class="pagination" >
              {{page.html}}
          </ul>
      </nav>

  </div>
</div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
 
</script>
{% endblock %}
