{% extends '../toolbar_index.html' %}

{% block head %}

{% endblock %}

{% block main %}
<div class="bk30"></div>
<div class="container">
    {% for e in result.rows %}
    <div class="row list">
        <div class="col-xs-3 col-md-3">
            <a href="/factory/{{e.id}}">
                {% if e.head %}
                 <img class="img-thumbnail" src="{{img_domain}}{{e.head}}!300x300"/>
                 {% else %}
                  <img alt="" class="img-thumbnail" src="/images/default.png"/>
                {% endif %}
            </a>
        </div>
        <div class="col-xs-7 col-md-10">
            <h4 class="media-heading">
                <a href="/factory/{{e.id}}">
                    {{e.name}}
                </a>
            </h4>
            <div class="rightinfo"><a href="/message/{{e.user_id}}" class="talk"></a> <a href="/factory/{{e.id}}" class="more"></a></div>
            <div class="clear"></div>
            <p>{{e.ename}}</p>
            <p>
                {{__('location')}}:
                {% for d in e.areas %}
                {{d.name}}
                {% endfor %}
            </p>
            <p>
                
                 {{__('cooperation customer name')}}:
                {% for d in e.cops %}
                    {% if d.type=="seller" %}
                    {{d.name}}
                    {% endif %}
                {% endfor %}
            </p>
            <p>
               
                {{__('cooperation factory name')}}:
                {% for d in e.cops %}
                    {% if d.type=="factory" %}
                    {{d.name}}
                    {% endif %}
                {% endfor %}
            </p>
            <p>

                 {{__('company major')}}:{% for d in e.major %}{{__('major_'+d)}} {% endfor %}
                
            </p>
        </div>
        <div class="col-xs-2 col-md-2">
        </div>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation ">
        <ul class="pagination">
            {{page.html}}
        </ul>
    </nav>
</div>
</div>
{% endblock %}

{% block foot %}

{% endblock %}
