{% extends '../toolbar_index.html' %}

{% block head %}
<style type="text/css">
  .row{
    margin-bottom: 30px;
  }
  .img{
      width: 150px;
  }
  .proimg{
    width: 120px;
  }
</style>
{% endblock %}

{% block main %}
<div class="container mb100">
  <div class="row">
    <div class="col-xs-3 img">
      {% if bean.head %}
       <img class="img-thumbnail" src="{{img_domain}}{{bean.head}}!300x300"/>
      {% else %}
        <img class="img-thumbnail" src="/images/default.png"/>
      {% endif %}
    </div>
    <div class="col-xs-9">
      <h3>{{bean.name}}</h3>
      <span class="talk"></span><a href="/message/{{bean.user_id}}"> {{__('send message')}}</a>
     
    </div>
  </div>
   <div class="row">
    <div class="col-xs-6">
      <p>{{__('company custom service')}}:{{bean.custom_service}}   {{bean.position}}</p>
      <p>{{__('company phone')}}:{{bean.phone}}</p>
     <!--  <p>{{__('offical website')}}:{{bean.offical_website}}</p> -->
      <p>{{__('company email')}}:{{bean.email}}</p>
      <p>{{__('company legal person')}}:{{bean.legal_person}}</p>
      <p>{{__('company address')}}:{{bean.address}}</p>
      <p>{{__('company major')}}:
 {% for d in bean.major %}{{__('major_'+d)}} {% endfor %}
      </p>

    </div>
    <div class="col-xs-6">
      <p>{{__('build time')}}:{{bean.create_time|formatdate("YYYY-MM-DD")}}</p>
      <p>{{__('cooperation customer name')}}:
      {% for d in customers %}
      <p>{{d.name}} </p>
      {% endfor %}
      </p>
      <p>{{__('cooperation factory name')}}:
        {% for d in factorys %}
        <p>{{d.name}} </p>
        {% endfor %}
       </p>
       <p>{{__('company acreage')}}:{{bean.acreage}} {{__('square meters')}}</p>
      <p>{{__('type per month')}}:{{bean.type_per_month}} {{__('pcs')}}</p>
      <p>{{__('produce person')}}:{{bean.count_person}} {{__('persons')}}</p>
      <p>{{__('QC person')}}:{{bean.count_qc}} {{__('persons')}}</p>
      <p>{{__('produce per month')}}:{{bean.able_per_month}} {{__('pcs')}}</p>
    </div>
  </div>
  <div>
    {{__('company summary')}}:{{bean.content}}
  </div>
  <h3 style="margin-bottom: 30px;">{{__('product')}}</h3>
  {% for e in pros.rows %}
  
  {% if loop.index0%3==0 %}
  <div class="row">
  {% endif %}
  <div class="col-xs-4">
    <div class="row list">
        <div class="col-xs-8 col-md-8">
            <a href="/product/{{e.id}}">
                {% if e.default_img %}
                 <img class="img-thumbnail" src="{{img_domain}}{{e.default_img}}!300x300"/>
                {% else %}
                  <img class="img-thumbnail" src="/images/default.png"/>
                {% endif %}
            </a>
        </div>
        <div class="col-xs-8 col-md-8">
             <h3>
                <a href="/product/{{e.id}}">
                    {{e.title}}
                </a>
            </h3>
            <p style="font-size: 16px;font-weight: bold;color: #dc9600;">{{__('price')}}: ${{e.price}} </p>
            <p>{{__('material')}}: {{e.material}}</p>

        </div>
    </div>
  </div>
  {% if loop.index%3==0 %}
  </div>
  {% endif %}
  {% endfor %}
  <div class="clearfix"></div>
      <nav aria-label="Page navigation ">
          <ul class="pagination" >
              {{page.html}}
          </ul>
      </nav>

  </div>
</div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
 
</script>
{% endblock %}
