{% extends '../toolbar_index.html' %}

{% block head %}
<style type="text/css">
  .row{
    margin-bottom: 30px;
  }
  .img{
      width: 150px;
  }
</style>
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-xs-3 img">
      {% if bean.head %}
       <img class="img-thumbnail" src="{{img_domain}}{{bean.head}}!300x300"/>
      {% else %}
        <img class="img-thumbnail" src="/images/default.png"/>
      {% endif %}
    </div>
    <div class="col-xs-9">
      <h3>{{bean.name}}</h3>
      <a href="/message/{{bean.user_id}}">发站内信</a>
      
    </div>
  </div>
   <div class="row">
    <div class="col-xs-6">
      <p>{{__('company custom service')}}:{{bean.custom_service}}   {{bean.position}}</p>

      <p>{{__('contact phone')}}:{{bean.contact_phone}}</p>
      <p>{{__('company phone')}}:{{bean.phone}}</p>
      <p>{{__('offical website')}}:{{bean.offical_website}}</p>
      <p>{{__('company email')}}:{{bean.email}}</p>
      <p>{{__('company address')}}:{{bean.address}}</p>
    </div>
    <div class="col-xs-6">
      <p>{{__('build time')}}:{{bean.build_time|formatdate("YYYY-MM-DD")}}</p>
      <p>{{__('count of shop')}}:{{bean.count_shop}}</p>
      <p>{{__('cooperation brand')}}:{% for d in bean.brand %}{{d}} {% endfor %}
       </p>
      <p>{{__('sale per year')}}:{{bean.sale_per_year}}{{__('unit money')}}</p>
      <p>{{__('firsthand')}}:
      {% if bean.firsthand==1 %}是{% endif%}
      {% if bean.firsthand==0 %}否{% endif%}
      </p>
      <p>{{__('payment days')}}:{{bean.payment_days}}{{__('unit day')}}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
  
</script>
{% endblock %}
