{% extends '../base.html' %}

{% block main %}
<form class="form-horizontal" action="/api/user">
    <input type="hidden" name="id" value="{{bean.id}}">
    <div class="form-group">
        <label class="col-sm-2 control-label">title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" placeholder="title" value="{{bean.title}}">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">content</label>
        <div class="col-sm-10">
            <textarea name="content">{{bean.content}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</form>
{% endblock %}
{% block foot %}
<script src="http://cdn.ckeditor.com/4.7.1/standard-all/ckeditor.js"></script>
<script>
    var config = {
        extraPlugins: 'codesnippet',
        codeSnippet_theme: 'monokai_sublime',
        height: 356

    };

    var editor = CKEDITOR.replace( 'content' );
    $("form").on('submit',function(e){

        var fd=new FormData(this);
        var method=fd.get('id')?"PUT":"POST";
        console.log(this.method);

        $.ajax({
            type: method,
            url: this.action,
            data:{id:fd.get('id'),title:fd.get('title'),content:editor.getData()},
            dataType:"json",
            success:function(json){
                console.log(json);
                if(json.code="success"){
                    $("input[name=id]").val(json.id);
                }
            }
        });

        return false;
    });

</script>
{% endblock %}