{% extends '../base.html' %}

{% block main %}
<h3>用户列表</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Email</th>
        <th>角色</th>
        <th>类型</th>
         <th>审核状态</th>
          <th>激活状态</th>
        <th>operation</th>
    </tr>
    </thead>
    <tbody>
    {% for e in result.rows %}
    <tr  {% if e.role==1 %}class="success"{% endif %}{% if e.role==8 %}class="info"{% endif %}{% if e.role==9 %}class="warning"{% endif %}
    {% if e.verified==1 %}class="danger"{% endif %}>
        <td>{{e.email}}</td>
        <td>
            {% if e.role==0 %}
              普通用户
            {% endif %}
            {% if e.role==1 %}
              高级会员
            {% endif %}
            {% if e.role==9  %}
              超级管理员
            {% endif %}
             {% if e.role==8  %}
              管理员
            {% endif %}
        </td>
         <td>
             {{__(e.type)}}
      
        </td>
        <td>
        {% if e.verified==1 %}
            待审核
        {% endif %}
        </td>
        <td>
        {% if e.status==1 %}
            激活
        {% else %}
            未激活
        {% endif %}
        </td>
        <td>
        <a href="/manage/user?id={{e.id}}" class="btn btn-primary" role="button">详情</a>
        <a href="/api/user/{{e.id}}" class="btn btn-danger" role="button">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
  {{page}}
  </ul>
</nav>

{% endblock %}
{% block foot %}
<script>
   
     $(".btn-danger").on("click",function () {
        var thiz=$(this);
        var href=this.href;
        YY.dialog({content:"你确定删除吗?",callback:function(){
              $.ajax({
                type: "DELETE",
                url: href,
                dataType:"json",
                success:function(json){
                    if(json.code="success"){
                        thiz.parents("tr").remove();
                    }
                }
            });
        }}).confirm();
      
        return false;
    });
</script>
{% endblock %}