{% extends '../base.html' %}

{% block head %}
<style type="text/css">

</style>
{% endblock %}

{% block main %}
<h3>供应商列表</h3>
<div class="container">

    <a href="/manage/factory" class="btn btn-primary" role="button">add</a>
    <p>序号大的排在前面</p>
    <table class="table table-hover">
        <thead>
        <tr>
             <th>{{'correlation account'}}</th>
            <th>{{'name'}}</th>
            <th>{{'sort'}}</th>
            <th>{{'operation'}}</th>
        </tr>
        </thead>
        <tbody>
        {% for e in result.rows %}
        <tr>
            <td>{{e.email}}</td>
            <td>{{e.name}}</td>
            <td> <input type="number" class="form-control" size="3" value="{{e.sort}}" style="width:60px;display: inline-block;"  min="-999999999" max="999999999" >
                <button  class="btn btn-primary sort" data-id="{{e.id}}">sort</button></td>
            <td>
            <a href="/manage/factory?id={{e.id}}" class="btn btn-primary" role="button">update</a>
            <a href="/api/factory/{{e.id}}" class="btn btn-danger" role="button">del</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
    <ul class="pagination">
    {{page.html}}
    </ul>
    </nav>

    
</div>
{% endblock %}

{% block foot %}
<script>

    $(".sort").on("click",function(){
        var id=this.dataset.id;
        var parent = $(this).parent();
        var sort = parent.find("input").val();
        var data={
            id:id,
            sort:sort
        }
        $.ajax({
            type: "PUT",
            url: "/api/factory/sort",
            data:data,
            dataType:"json",
            success:function(json){
                if(json.code="success"){
                    YY.dialog({content:json.code}).alert();  
                }
            }
        });
    });

     $(".btn-danger").on("click",function () {
        var thiz=$(this);
        var href=this.href;
        YY.dialog({content:"你确定删除吗?",callback:function(){
              $.ajax({
                    type: "DELETE",
                    url: href,
                    dataType:"json",
                    success:function(json){
                        if(json.code="success"){
                            thiz.parents("tr").remove();
                        }
                    }
                });
        }}).confirm();
      
        return false;
    });

</script>

{% endblock %}
