{% extends '../base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<form class="form-horizontal">
    <input name="id" type="hidden" value="{{bean.id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('name')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="name" placeholder="{{__('name')}}" type="text" value="{{bean.name}}" maxlength="20">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('age')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="age" placeholder="{{__('age')}}" type="number" value="{{bean.age}}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('gender')}}
            </label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" value="1" name="gender" {% if bean.gender==1 %}checked="true"{% endif %}>
                       {{__('male')}}
                    </input>
                </label>
                <label class="radio-inline">
                    <input type="radio" value="0"  name="gender" {% if bean.gender==0 %}checked="true"{% endif %}>
                       {{__('female')}}
                    </input>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('status')}}
            </label>
            <div class="col-sm-10">
              <select class="form-control" name="status">
                <option value="fulltime"  {% if bean.status=='fulltime' %}selected{% endif %}>{{__('fulltime')}}</option>
                <option value="parttime" {% if bean.status=='parttime' %}selected{% endif %}>{{__('parttime')}}</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('major')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="major" placeholder="{{__('major')}}" type="text" value="{{bean.major}}"  maxlength="100">
                </input>
            </div>
        </div>
        {% for e in bean.work_experience %}
        <div class="form-group  {% if loop.last %}experience{% endif %}">
            <label class="col-sm-2 control-label">
                {{__('work experience')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="work_experience" placeholder="{{__('work experience')}}" type="text" value="{{e}}" maxlength="200">
                </input>
            </div>
        </div>
         {% else %}
        <div class="form-group experience">
            <label class="col-sm-2 control-label">
                {{__('work experience')}}
            </label>
            <div class="col-sm-10">
                <input class="form-control" name="work_experience" placeholder="{{__('work experience')}}" type="text" value=""  maxlength="200">
                </input>
            </div>
        </div>

        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="javascript:void(0);" class="btn btn-default addC">{{__('add')}}</a>
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('design content')}}
            </label>
            <div class="col-sm-10">
                <textarea class="form-control" name="content" placeholder="{{__('design content')}}"  maxlength="1000">{{bean.content}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{__('location')}}
            </label>
            <div class="col-sm-10">
              <div class="row city" data-area="{{bean.area}}">
                <div class="col-xs-4 col-sm-4">
                  <select name="area1" class="form-control">
                    
                  </select>
                </div>
                <div class="col-xs-4 col-sm-4">
                 <select name="area2" class="form-control">
                  
                </select>
                 </div>
                <div class="col-xs-4 col-sm-4">
                 <select name="area3" class="form-control">
                  
                </select>
                 </div>
              </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">
                    {{__('confirm')}}
                </button>
            </div>
        </div>
    </input>
</form>
{% endblock %}

{% block foot %}
<script type="text/javascript" src="/js/city.js">
</script>
<script>
var city=$(".city").city();  
    var valid_en={  
    name: {
      required: "Please provide name",
      maxlength: "name can not more than 100 characters long"
    },
    ename: {
      required: "Please provide ename",
      maxlength: "ename can not more than 100 characters long"
    },
    price: "Please enter a valid price"
  }
var valid_zh={
    
    name: {
      required: "请输入标题",
      maxlength: "标题最长100个字符"
    },
    ename: {
      required: "请输入英文标题",
      maxlength: "英文标题最长100个字符"
    },
    price: "请输入正确的价格"
  }  
var messages=valid_en;

if($.cookie("locale")=="zh-CH"){
  messages=valid_zh;
}

$("form").validate({
  rules: {
    title: {
      required: true,
      maxlength: 100
    },
    price: {
      required: true
    }
  },
  messages: messages,
  errorElement: "em"

});

$(".addC").click(function(){
  var temp=$(".experience");
  var clone=temp.clone();
  temp.after(clone);
  temp.removeClass("experience")
  clone.find("input").val("");
});

$("form").on('submit',function(e){

    var fd=new FormData(this);
    var method=fd.get('id')?"PUT":"POST";
    
    var create_time=Date.parse(fd.get('create_time'));
    var exps=[];
    $("input[name=work_experience]").each(function(){
      exps.push($(this).val());
    });
    var area=[];
    $(".city select").each(function(){
      area.push(this.value);
    });
    var url="/manage/design";
    if(method.toLowerCase()=="put"){
      url="/api/design"
    }
    $.ajax({
        type: method,
        url: url,
        data:{id:fd.get('id'),
          name:fd.get('name'),
          gender:fd.get('gender'),
          age:fd.get('age'),
          status:fd.get('status'),
          content:fd.get('content'),
          major:fd.get('major'),
          exps:exps.join(","),
          area:"_"+area.join("_")+"_"
      },
      dataType:"json",
      success:function(json){
          if(json.code=='success'){
            $("input[name=id]").val(json.id);
            YY.dialog({content:json.code,callback:function(){
              location.href="/manage/designs";
            }}).alert();  
          }else{
            // location.reload();
          }
      }
    });

    return false;
});
</script>
{% endblock %}
