{% extends '../base.html' %}

{% block main %}
<div class="form-horizontal">
    
    <div class="form-group">
        <label class="col-sm-2 control-label">订单号</label>
        <div class="col-sm-10">
             <p class="form-control-static">{{bean.id}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">产品</label>
        <div class="col-sm-10">
             <p class="form-control-static">{{bean.name}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">产品到期时间</label>
        <div class="col-sm-10">
             <p class="form-control-static">{{bean.end_time|formatdate("YYYY-MM-DD HH:mm:ss")}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">email</label>
        <div class="col-sm-10">
             <p class="form-control-static">{{user.email}}</p>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">createTime</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{bean.create_time|formatdate("YYYY-MM-DD HH:mm:ss")}}</p>
        </div>
    </div>
     <div class="form-group">
        <label  class="col-sm-2 control-label">状态</label>
        <div class="col-sm-10">
            <p class="form-control-static">
            {% if bean.status==0 %}
              待付款
            {% endif %}
            {% if bean.role==1 %}
              已付款
            {% endif %}
            {% if bean.role==-1 %}
              已取消
            {% endif %}
            </p>
        </div>
    </div>
    <!-- <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">审核</button>
        </div>
    </div> -->
</div>
{% endblock %}
{% block foot %}

<script>
    
    

</script>
{% endblock %}